[2019-03-18 17:17] mzdouc commented on #548
@tomas-pluskal
Thanks a lot for helping me out! I will follow your recommendations and will come back to you with my findings.

@lfnothias
Sorry for my lack in clarity. I converted the files as described in the document you linked. Since it is built into Bruker Data Analysis, I referred to it as "generic".
We are using Data Analysis 4.2, and I guess it's already an older version. I will try to get

[2019-03-18 18:30] lfnothias commented on #548
@mzdouc Sounds good. Yeah the same bug might be involved as it looks from the TIC that there is no scans at the beginning. Note that in our case, the bug was manifested with an output file no having the lockmass not applied neither on MS1 and MS2 levels.

[2019-03-21 04:30] ywangcx opened #551 "CAMERA can't find and work on Mzmine 2"
I am reporting a problem with MZmine 2 version
My operating system is windows 10 with 64 bits.

Below I pasted the exact output of the following commands:

java -8.0
R --3.5.3

### Expected behavior

Run CAMERA in MZmine

### Actual behavior

show in screencapture.

![camera problem](https://user-images.githubusercontent.com/48781824/54733467-cc0c0300-4bd4-11e9-9d58-7393cc609150.jpg)

[2019-03-21 15:28] tomas-pluskal commented on #551
Unfortunately there is currently nobody maintaining the R-based modules in MZmine.

@golgauth ?

[2019-03-21 15:51] ywangcx commented on #551
Dear Tomas,

Thank you very much for the help. I will find some other method to find and exclude isopote.

I’m very appreciate your reply.

Best Wishes,

Yuchen
________________________________
收件人: Tomáš Pluskal <notifications@github.com>
发送时间: 星期四, 三月 21, 2019 23:28
收件人: mzmine/mzmine2
抄送: Yuchen WANG; Author
主题: Re: [mzmine/mzmine2] CAMERA can't find and work on Mzmine 2 (#551)

Unfortunately t

[2019-03-21 15:58] tomas-pluskal commented on #551
Hi Yuchen,

For that you can use the Isotope Grouper module.
Check the tutorials we have: https://mzmine.github.io/documentation.html

Tomas

[2019-03-28 15:43] tomas-pluskal opened #552 "Isotope peak scanner issues"
The isotope peak scanner module executed with these parameters:

<img width="739" alt="Screen Shot 2019-03-28 at 11 38 24" src="https://user-images.githubusercontent.com/1796692/55171342-87411880-514e-11e9-9a24-edeb6af7cd2b.png">

produces this error:

<img width="689" alt="Screen Shot 2019-03-28 at 11 38 36" src="https://user-images.githubusercontent.com/1796692/55171353-8c9e6300-514e-11e9-9f55-5

[2019-03-29 15:41] asmirn1 opened #553 "Setting the m/z value of a detected peak in MZmine v2.36 and MZmine v2.38"
Hi Tomas,

I'm not reporting a bug, but I have one suggestion.

In MZmine v2.36, the m/z value of a detected peak was the same as that of the chromatogram where that peak was detected. So, all peaks detected in one chromatogram would have the same m/z value. In MZmine v2.38, the m/z value of a detected peak is calculated individually for each peak. So, it's hard to tell which chromatogram a peak w

[2019-03-29 15:44] tomas-pluskal commented on #553
Hi Alex,

I cannot support such change, because it is conceptually wrong. The m/z value of each peak should be defined by the data points of that peak, not by the process by which a chromatogram was constructed.

Perhaps if you explain what is your goal, we can find a more systematic solution.

Tomas

[2019-03-29 16:29] asmirn1 commented on #553
My goal is to check if two peaks are produced from the same chromatogram. In the attached figure, I have two peaks detected in the same chromatogram. You can see that those detected peaks are two parts of a single composite peak. When I'm doing spectral deconvolution, I get better results if I merge those two parts together. To handle such cases, I need to know when two peaks are detected in the s

[2019-03-29 17:10] asmirn1 commented on #553
As an alternative solution, we could add a variable to class `Feature`, so that a feature would contain some sort of a reference to the feature it was made from.

[2019-03-29 17:12] tomas-pluskal commented on #553
Actually, not true. MZmine always used median m/z value, but at some point someone from your lab submitted a change to use the chromatogram m/z value, and I didn't notice until people started complaining that MZmine produces nonsense m/z values for peaks. Then we reverted the change.

[2019-03-29 17:13] tomas-pluskal commented on #553
Yes, I agree that adding a new field to Feature is a better way to do it. But be careful that you will have to update the project saving and loading modules, too, otherwise this binding will be lost when the project is saved and re-loaded. Also, keep in mind that features can be produced by various algorithms (e.g., the targeted detector, or GridMass), so the "parent feature" value must be nullabl

[2019-03-29 17:35] asmirn1 commented on #553
Oh, I'm sorry about changing the median m/z value. I didn't know that. Usually, we try to avoid changing any original MZmine code.

What would be an appropriate identifier for Feature?

Since `PeakListRow` already has the field ID, I can add a new field to `PeakListRow` instead, so that a row would store an ID of the parent row. Would this work for you?

[2019-03-29 17:38] robinschmid commented on #553
Hey alex,
Hey tomas,

The expected behaviour has always been the median of the actual points. The recalculation was commented out.

You could just specify a mztolerance If you want to see whether two features were overlapping.

[2019-03-29 17:39] tomas-pluskal commented on #553
I think it is better to add this property to Feature rather than PeakListRow, because after alignment the peak list rows contain multiple features from different files.

[2019-03-29 17:40] tomas-pluskal commented on #553
Robin's suggestion makes sense, if you add m/z tolerance to your module, you don't need to add any new fields and refactor the project saving/loading.

[2019-03-29 17:54] asmirn1 commented on #553
I've already tried using m/z tolerance. I don't find it very reliable because:
- this parameter would depend on the m/z tolerance that was used during chromatogram building,
- using m/z tolerance may lead to merging two peaks detected in different chromatograms if those chromatograms have similar m/z values.

Thank you for your suggestion though, Robin!

Tomas, does Feature have any identifier, or

[2019-03-29 17:56] tomas-pluskal commented on #553
I think you can add a method like Feature.getParentChromatogramRowID(), which will return the row ID in the chromatogram list that was used for deconvolution (or it will return null if such information is not available).

[2019-03-29 18:08] asmirn1 commented on #553
That's a good idea! I agree that each row may contain several features after alignment, but I don't think it will be a problem here. Let me think about it and try to implement it.

[2019-03-29 18:14] tomas-pluskal commented on #552
@robinschmid Could you please take a look at this?

[2019-03-29 20:30] robinschmid commented on #552
Yeah will do.

[2019-04-01 21:41] bjonnh opened #556 "Neutral loss filtering error"
### Setup

I am reporting a problem with MZmine 2 version 2.38.
My operating system is a Linux 64.

Below I pasted the exact output of the following commands:
[code]

### Expected behavior

When doing a filtering of a peak-list, I would like to be able to search for a specific neutral loss by value OR  molecular formula.

### Actual behavior

First, it is not possible to put either value or the mo

[2019-04-01 21:53] tomas-pluskal commented on #556
Hi, thanks for the report!

@SteffenHeu @robinschmid Could you please take a look at this?

[2019-04-02 07:14] robinschmid commented on #556
Thanks for reporting.
It is a weird behaviour of the CDK. It generates a formula composed of isotopes without an exact mass.

I am going to push a fix.

[2019-04-02 08:48] robinschmid commented on #556
I have a small fix for this issue (see PR #557 )

However, I have encountered another problem. The filter seems to combine random rows. The retention time tolerance is not taken into account and the ppm distance is at random numbers as high as 8000.

@SteffenHeu can you take a look at this?

[2019-04-03 10:07] mzdouc commented on #548
Dear @Annexhc @tomas-pluskal @lfnothias

I have found a way to walk around the MS2 precursor-inaccuracy that occured when exporting Bruker raw data using Bruker Compass Export. I will describe my workflow below (###).

First, following the recommendations of @tomas-pluskal I contacted the ProteoWizard crew but they could not really help me; the PrecursorRecalculator option is not suitable for TOF

[2019-04-03 11:56] robinschmid commented on #556
Thanks steffen, you've fixed it.
Maybe we could come up with a new naming convention to allow sorting and easy spotting of pairs?

This is the comment that is added so far.
![image](https://user-images.githubusercontent.com/10366914/55476756-b5739c00-5617-11e9-994c-81f97a78b6ef.png)

Maybe we could change it to
ParentID=2014; ChildID=1764 (NH2; 0.0 ppm) PARENT
ParentID=2014; ChildID=1764 (NH2; 0.0

[2019-04-04 14:20] tomas-pluskal commented on #548
Hi @mzdouc
I am glad you found a workaround for the problem, however it is still a workaround and not a solution. I would recommend to file a bug report with Bruker to make sure they are aware of the problem and can fix it in future versions. I guess talking to the support people won't help, because this is not a support issue.

Best,

Tomas

[2019-04-15 18:43] rgentz opened #564 "javafx build problem"
### Setup

I am reporting a problem with MZmine 2 version 2.38.
My operating system is Ubuntu 18.04 lts).

Below I pasted the exact output of the following commands:
[code]

### Expected behavior
'''
mvn clean package
'''
builds the package
### Actual behavior
mvn clean build fails with the following log

mvn clean package
WARNING: An illegal reflective access operation has occurred
WARNING: Illeg

[2019-04-15 22:01] tomas-pluskal commented on #564
Hi,

It seems the openJDK builds do not contain the JavaFX libraries. If you download the Oracle JDK version 8, 9, or 10, it should fix the problem: https://www.oracle.com/technetwork/java/javase/downloads/index.html

Note that JavaFX was completely removed from JDK version 11 and newer. I will need to make some updates in MZmine to account for that.

[2019-04-18 13:43] Frederik-Det opened #565 "Java out of memory"
### Setup

I am reporting a problem with MZmine 2 version (*Please fill this in*).
My operating system is (*Please fill this in, including version number and 32-bit or 64-bit *).

Below I pasted the exact output of the following commands:
[code]

### Expected behavior

(*Please fill this in*)

### Actual behavior

(*Please fill this in, and paste any relevant exceptions, log messages, and screensh

[2019-04-18 13:56] Frederik-Det commented on #565
Hi,

MZmine 2.35 is crashing ..java is out of memory.. than the GUI closes
I recently got a memory extension from 16GB to 32GB, Win 7 Pro 64Bit.
Java 8 build 1.8.0_121-b13

The Software runs smooth with 16GB but with 32 GB I can see in the Task Manager RAM is occupied till 20GB than the error message appears and MZmine GUI closes.

Unfortunately I cannot reproduce the error as our inhouse IT remov

[2019-04-18 14:16] robinschmid commented on #565
Hey

did you try the latest MZmine version?
Do you use profile data or centroid data (mzML) files?
How many files/GB of data?

Cheers
Robin

[2019-04-18 14:21] Frederik-Det commented on #565
Hi Robin,

I have not jet tried the new version.
I use mzXML files, around 20 files each 90MB.
As I said there is no problem with 16GB of RAM. Task Manager shows memory filled around 15.8 GB and it stays constant during the processing.

Best, Frederik

[2019-04-18 14:24] robinschmid commented on #565
This is weird.
However, 15.8 GB RAM usage for 20 small files is quite high. Are you setting the noise levels high enough? (for mass detection and chromatogramm building)

[2019-04-18 14:28] Frederik-Det commented on #565
No, noiselevels are low ..searching for the tiny ones in the grass ;)
It takes a while to process but there are no problems.

[2019-04-18 18:07] tomas-pluskal commented on #565
You probably just need to set the noise level higher. In any case, your report does not give any details on what modules you are running, with what parameter values, and what kind of data you are dealing with (which instrument, centroid or profile, etc.). Try again.

[2019-04-18 18:54] robinschmid commented on #527
This should be resolved

[2019-04-18 19:02] #527 closed

[2019-04-19 10:48] Frederik-Det commented on #565
Thank you for your suggestions.
I run centroided data from a HR TOF MS.
It is the Mass Detection module.

Still I think it is a general issue: with 16 GB RAM it runs smooth, with 32GB RAM I get the error. I did not change anything except of the RAM.
RAM was tested by the IT and it is fine.

32 GB RAM should not be a problem for MZmine, or?

I am happy for any suggestions.

Best, Frederik

Am 18.04

[2019-04-19 12:16] tomas-pluskal commented on #565
32 GB RAM is not a problem for MZmine. If you want to get a better advice, you need to provide all the relevant details.

[2019-04-24 12:26] cantoine27 opened #567 "Problem MS2"
### Setup

I am reporting a problem with MZmine 2 version 2.38.
My operating system is 64-bit.

Below I pasted the exact output of the following commands:
[code]
### Actual behavior

I have a problem to detect spectra MS2. After this steps, i lost lots of MS2 whereas that this MS2 are in rawdata. Another problem is that mzmine doesn't associate MS1 with MS2 correctly. I had another solution ...

#

[2019-04-24 15:41] tomas-pluskal commented on #567
I don't understand what your problem is. Also, the image is missing.

[2019-04-25 07:23] cantoine27 commented on #567
First, MS1 and MS2 don't associate correctly for the first steps.
Second, i have 2 problems :
- peak extender : every peak is taken on the middle (cf picture)
- chromatogram deconvolution : i lost lots of MS2 whereas this MS2 are present at the step of peak extender.
![mzmine](https://user-images.githubusercontent.com/49944213/56716746-5fd47000-673b-11e9-8eba-4106d302577b.PNG)

[2019-04-26 16:25] tomas-pluskal commented on #567
Please list the parameter values that you used for the methods.

[2019-04-30 08:17] cantoine27 commented on #567
First method :
- mass detection : MS level 1, 1000
- mass detection : MS level 2, 50
- chromatogram builder : MS level 1, min time span 0.02, min height 1000, m/z tol 0m/z or 20ppm
- chromatogram deconvolution : min height 1000, peak duration range 0.02 - 1, baseline 2000
- filtering : peak list rows filter by MS2

Second method :
- MS/MS peaklist builder : m/z window 0.1, time window 10
- peak ex

[2019-04-30 11:26] robinschmid commented on #567
In MZmine 2.39 /peaklist methods/filter/group ms2
you can also use this small module to assing all MS2 scans to their features (within mz/rt range).

Maybe this is of help for you?

Above:
Are you grouping the MS2 scans in the deconvolution step? What about your grouping parameters: mz / rt tolerances.

[2019-04-30 13:47] tomas-pluskal commented on #567
What do you mean by "I lost lots of MS2". This is just too confusing. Please report only one problem at a time (file different problems as separate issues) and provide all the information so we can actually see what the problem is. Read the "How to report issues" section here: https://mzmine.github.io/support.html, especially point 6.

[2019-04-30 13:57] #552 closed

[2019-04-30 13:59] #548 closed

[2019-05-02 11:19] glerny opened #570 "ADAPChromatogramBuilderTask fails"
### Setup

I am reporting a problem with MZmine 2 version 2.39 and before

My operating system is  64-bit.

Below I pasted the exact output of the following commands:
[code]

[2019-05-02 12:13] robinschmid commented on #570
Hey

please give us all the parameter values that you have entered for mass detection and the ADAP chromatogram builder.

It seems like your input for m/z tolerance is wrong. NaN means "not a number".

Cheers
Robin

[2019-05-02 12:58] glerny commented on #570
Hi Robin,

You can find the print screen of the conditions attached. I believe it is more a problem with the mzML files (converted from TIF to mzML with MSConvert) before or after the MassDetection step (exact mass with a threshold at 1,000) as the same parameters work with other files. I assume the NaN values result from one of those two steps and this case is not taken into account by the ADAP a

[2019-05-02 18:25] tomas-pluskal commented on #570
@asmirn1 Alex, could you please take a look at this?

[2019-05-02 18:31] tomas-pluskal commented on #570
@asmirn1 I could reproduce this error with the downloaded file ```20170326-960MIX_SampleA_1.mzML``` and the following steps:

<img width="790" alt="Screen Shot 2019-05-02 at 14 30 48" src="https://user-images.githubusercontent.com/1796692/57097935-f1695200-6ce6-11e9-956f-23b963ff9b02.png">

<img width="802" alt="Screen Shot 2019-05-02 at 14 31 00" src="https://user-images.githubusercontent.com/179

[2019-05-02 18:38] asmirn1 commented on #570
Yes. I'll download the files and check the algorithm.

[2019-05-03 12:38] gampenora commented on #403
Hi,
I have downloaded the new versions of MZmine (2.38 and 2.39) but I have problems importing my converted Agilent data, which worked with the older versions. I got the following error message:
![image](https://user-images.githubusercontent.com/39517442/57137701-f09cf280-6db0-11e9-8442-9bdb32aca4cc.png)
Could you help me, what can cause this problem?
Thank you very much!
Best regards,
Nóra

[2019-05-03 13:03] tomas-pluskal commented on #403
Hi Nora, please file a separate issue for this problem. Provide one of the files that cause you problems. And let us know which specific versions of MZmine worked for you in the past.

[2019-05-03 13:24] gampenora opened #571 "Raw data import"
I am reporting a problem with MZmine 2.39 version
My operating system is Windows 7 64-bit.

I tried to import a converted mzdata.xml datafile originated from an Agilent .d file, but I got the error message of the following:
![image](https://user-images.githubusercontent.com/39517442/57139380-6b680c80-6db5-11e9-9071-58ebcdf1a7f5.png)
The converted file is available here:
https://1drv.ms/u/s!AiSWU1J

[2019-05-03 13:25] gampenora commented on #403
Dear Tomas,
I opened a new issue here:
https://github.com/mzmine/mzmine2/issues/571
Thanks for your help!

[2019-05-03 13:25] tomas-pluskal commented on #571
Hmm, mzData is a very outdated format. You should try using mzML or mzXML instead. How did you convert the file?

[2019-05-03 13:36] gampenora commented on #571
I use Agilent MassHunter for conversion. As output, it can produce ASR, CEF, CSV, MGF, mzData and MS/MS inclusion list options.

[2019-05-03 13:37] tomas-pluskal commented on #571
Try using MSconvert from the ProteoWizard package instead.

[2019-05-03 14:16] gampenora commented on #571
It solved the problem :) Thank you for your fast replies and help!!!!

[2019-05-03 14:16] #571 closed

[2019-05-03 15:45] asmirn1 commented on #570
I've made a pull request with a bugfix.

[2019-05-04 12:43] tomas-pluskal commented on #564
I believe this should be fixed now.

[2019-05-08 07:28] adelabriere opened #574 "Running MZmine on linux cluster"
### Setup

I have a problem running multiples instances of MZmine on a linux cluster using LSF. I m doing that to test multiples parameters sets at the same times, I m generating all the required xml files programmatically before that.

I used the exact same setup succesfully on small mzML to test (10 MB) and now I m trying to run the script on 100MB mzML files.

If I don't specifiy an HEAP_SIZE o

[2019-05-08 08:00] adelabriere commented on #574
I m closing the issue as this behavior was coming from a mistake on my side.

[2019-05-08 08:00] #574 closed

[2019-05-08 16:59] #564 closed

[2019-05-09 16:02] Grrud commented on #405
I am currently having this same problem with Java (8 211) and MzMine (2.39) on Windows 10. It unfortunately makes mzMine virtually unusable. Are there any recommendations?

[2019-05-09 16:04] tomas-pluskal commented on #405
My recommendation: provide more information.

[2019-05-09 16:13] Grrud commented on #405
Hi Tomas,
Directly after opening mzMine if I try to use any UI elements in mzMine the UI gets shuffled around and shows previous windows and hiding the current ones. It is difficult to describe, but I have included an image of an example. I have tried to reinstall Java with no results.

![mzmine issue](https://user-images.githubusercontent.com/32714100/57468859-25d69400-723a-11e9-89f8-404b12159228

[2019-05-09 16:24] tomas-pluskal commented on #405
That's strange. Can you try installing the latest JDK (12.0.1) from https://www.oracle.com/technetwork/java/javase/downloads/index.html?
And see how that behaves.

[2019-05-09 18:14] Grrud commented on #405
Hey Tomas, thanks for the reply. The above data was generated with JDK 12 installed as well as JRE 1.8.

[2019-05-09 18:17] tomas-pluskal commented on #405
Did you run MZmine using the JDK 12?

[2019-05-09 18:21] tomas-pluskal commented on #405
Also try adding this option to the ```set JAVA_PARAMETERS``` line of the ```startMZmine.bat``` script: ```-Dsun.java2d.d3d=false```

[2019-05-09 18:22] tomas-pluskal commented on #405
Like this:

[code]

[2019-05-09 18:24] tomas-pluskal commented on #405
Also what is your scaling setting under Windows 10 settings "All settings > System > Display"

[2019-05-09 18:25] tomas-pluskal commented on #405
Also you can try this java option:
[code]

[2019-05-09 18:27] Grrud commented on #405
Hey Tomas, thanks again for being so responsive on this. I've set java to use the JDK 12 and added that line with "Dsun.java2d.d3d=false" to the start-up file and it appears that this has fixed the issue. The system is set for 100% scaling in the Windows 10 settings; the setting "Let windows try to fix apps so they're not blurry" is enabled.

I didn't try the last suggestion as it appears adding t

[2019-05-09 18:32] tomas-pluskal commented on #405
Do you use an Nvidia graphics card? If yes, please also try this option and let me know if that worked (from https://stackoverflow.com/questions/22737535/swing-rendering-appears-broken-in-jdk-1-8-correct-in-jdk-1-7/22791235)

1. Right-click on desktop and click NVIDIA Control Panel
2. Select 'Manage 3D Settings' in the left pane
3. Select the "Program Settings" tab in the main window
4. Click 'Add

[2019-05-09 18:44] Grrud commented on #405
I do use an Nvidia graphics card. I went ahead and made those changes to the Nvidia settings and reverted my "startMZmine_Windows.bat" file to the default values (no d3d=false). With these settings the issues came back. However, once I added that line back to the .bat file mzMine began to work as expected again.

[2019-05-09 19:21] tomas-pluskal commented on #405
Okay, good to know. In any case, it seems like this is not really a problem of MZmine, but rather some weird issue somewhere in the interaction of Java Swing, Windows Direct3D, and Nvidia drivers.

[2019-05-09 20:27] #565 closed

[2019-05-09 20:28] #536 closed

[2019-05-09 20:28] #499 closed

[2019-05-13 11:32] RachelGregor opened #581 "Duplicate peak filter for rows with MS2 spectra?"
Hello,

I would like to use the duplicate peak filter function (as part of data clean-up for the GNPS workflow), but I wanted to first ask what happens when two rows that each have associated MS2 data are merged? One is saved and the other discarded?

Thank you!
Rachel

[2019-05-13 11:56] robinschmid commented on #581
Hey Rachel,

I would definitely run the duplicate filter. Especially if you use GAP-filling, use the duplicate filter afterwards. The old average option just deletes duplicate rows. The new average or single feature option will merge duplicate rows. All detected peaks are going to be merged into one row. The MS/MS scans are then kept for the selected feature. You can also run a new module on any f

[2019-05-13 12:18] RachelGregor commented on #581
Hi Robin,

That's perfect, thank you. This is indeed a job created with an older version of MZmine.

The video is very helpful-- Just to be clear, I should run the group MS2 scans module on the aligned peak list, or on all the chromatograms separately, or either?

Thanks again!

Best,
Rachel

[2019-05-13 12:22] robinschmid commented on #581
You can either run it on feature lists of a single sample or on the aligned lists.
No difference. I think this module and the mz/rt tolerances are more straight forward and they also allow to change the assignment of MS2 later.

Cheers,
Robin

[2019-05-13 12:24] RachelGregor commented on #581
Great, thanks again!!

Best,
Rachel

[2019-05-13 12:24] #581 closed

[2019-05-13 13:15] tomas-pluskal commented on #581
Hey @robinschmid
Perhaps we should add a warning message to the project loading module when people are opening an older project file (<2.37).

[2019-05-13 13:18] robinschmid commented on #581
We could do that. This is not important for every purpose - however, more and more projects are going to use the new MS/MS data structure.

[2019-05-13 18:53] tomas-pluskal opened #583 "MS/MS library export"
<img width="1230" alt="Screen Shot 2019-05-13 at 14 49 47" src="https://user-images.githubusercontent.com/1796692/57646405-7c233a00-758e-11e9-9014-ac3424c714c7.png">

@robinschmid
I think this export module needs some improvement in terms of documentation and tooltips.
Try to look at this window from the perspective of a first-time user. There is no "Help" button, and fields like "Local file" have

[2019-05-13 18:55] tomas-pluskal commented on #583
If I uncheck the "Submit to GNPS" checkbox, it still requires the username & password.

[2019-05-13 19:06] robinschmid commented on #583
Thanks for reporting the wrong behaviour. Now I remember that Ansgar already pointed this out.
This module will definitely see some development in the future.
For now I will fix the username and password and try to give some tooltips.

How can I add a help menu to this dialog?

[2019-05-13 19:07] tomas-pluskal commented on #583
It's probably best to add a Help button just like other ParameterSetupDialogs have, to keep it consistent.

[2019-05-14 14:10] grfxmunkey opened #584 "Valley Detection"
I'm attempting to use MZmine for data that has no real chromatography.  The data files include a chromatogram over the acquisition time, but it should be relatively flat.  Is there a way to control valley detection in the chromatographic peak picking so that if there is a short drop out in signal, the algorithm doesn't assume a new peak unless the drop is longer than a set amount of time?

![image

[2019-05-14 14:12] tomas-pluskal commented on #584
Hi, please describe your workflow - which MZmine modules you used, including parameter values.

[2019-05-14 14:27] grfxmunkey commented on #584
I'm using 2.33 with .mzXML files with these modules in this order:
![image](https://user-images.githubusercontent.com/21205573/57705687-4f286300-7632-11e9-81ba-a4219ec18939.png)

Parameters:
Mass Detection
![image](https://user-images.githubusercontent.com/21205573/57705399-d1fcee00-7631-11e9-8914-5f114df5db7e.png)

Chromatogram builder
![image](https://user-images.githubusercontent.com/21205573/5

[2019-05-14 14:29] tomas-pluskal commented on #584
Awesome. Can you also upload one of your mzXML files for testing?

[2019-05-14 14:40] grfxmunkey commented on #584
Test file.  Thanks.
[test.zip](https://github.com/mzmine/mzmine2/files/3178308/test.zip)

[2019-05-14 14:44] tomas-pluskal commented on #584
Awesome. I tried to run the Chromatogram builder on your file and I don't see any features being split. Can you point to a specific feature (mass) that shows this problem?

[2019-05-14 15:39] grfxmunkey commented on #584
I just played around with it.  It doesn't seem to be in Chromatogram Builder, but maybe in the Join Aligner or Gap filling.  I increased the aligner to a RT tolerance of 0.3 min in a dummy dataset including the file below and removed the duplicate peak filter to see any duplicated features.  m/z 70.0657 came up twice in the peak list after filling with two different times, so maybe an integration

[2019-05-14 15:47] tomas-pluskal commented on #584
It's just about setting the parameters right. Since you don't have chromatographic peaks, the retention time of your signals (which is defined by the highest point in the chromatogram) can be all over the place, quite randomly. So you should set the RT tolerance to a very high value like 10000 min. That will solve your problem, I guess.

[2019-05-14 22:03] chandlerjd opened #585 "CAMERA - "losing" important features"
### Setup

I am reporting a problem with MZmine 2 version 2.38.
My operating system is Windows 10 Pro, 1809, 64-bit.

Below I pasted the exact output of the following commands:
[code]

### Expected behavior

Be able to track features of interest "within" CAMERA output. E.g., where does 150.0583 m/z go to after CAMERA is run? If it is "collapsed" into another feature, I should be able to trace this

[2019-05-14 23:41] grfxmunkey commented on #584
I think I actually got it to work.  Thanks for the help.

[2019-05-14 23:51] tomas-pluskal commented on #584
Please explain how you got it to work and what the problem was, otherwise this issue is not helpful to anyone.

[2019-05-15 01:26] tomas-pluskal commented on #585
It seems like this is more of a feature request than problem report. Sadly, I don't think anyone is actively maintaining the CAMERA module.

[2019-05-15 01:46] tomas-pluskal commented on #583
Generally speaking, for future compatibility and consistency among modules, it would be much better if this window could be implemented as a standard ParameterSetupDialog. For example, the GNPS export can be organized as an OptionalModuleParameter. The scan preview section can be implemented in the same way as the mass detection preview.

[2019-05-15 01:59] chandlerjd commented on #585
Thanks Tomas. Yes, you're right, this is really more about CAMERA usability. I am surprised that it sounds like what I am trying to do with CAMERA is not possible? It seems like if you can't do that, the CAMERA process can actually cause serious information loss. I'm finding lots of known compounds with good peaks are removed by it.

[2019-05-15 10:20] robinschmid opened #586 "MS/MS library matching / new similarity measures"
Hey everyone,

this is meant to be a thread and reminder that we need to implement more sophisticated MS/MS spectral similarity measures for:

- scans with precursor m/z (LC-MS/MS)
- scans without precursor m/z (GC-EI-MS)
- scans with multiple different collisions energies / fragmentation modes

It would be nice if we could put together a list of resources, articles and code snippets.

Weighted do

[2019-05-15 11:06] Annexhc commented on #586
Hey Robin,
this thread is a really good idea.
I also may suggest, that we include a user parameter to decide on signals that are not present in both scans. At the moment the algorithm only takes signals into account that are present in the scan and the library entry. This can lead to ridiculously high scores if the number of matched signals parameter is set very low.
Another important thing would

[2019-05-15 11:13] robinschmid commented on #586
see my update

[2019-05-15 14:21] tomas-pluskal commented on #585
If you can isolate a specific example and provide a testing dataset, we can take a look at why the peaks are removed.

[2019-05-15 15:00] chandlerjd commented on #585
I will be happy to do that and already have a specific example in mind. The datasets are large. Would you want raw files, extracted .CSV? What is the preferred way to share these results? I can use OneDrive or Google Drive for de-identified data.

[2019-05-15 15:01] tomas-pluskal commented on #585
Please send the .mzmine project file that contains both the raw data and processed peaklists. You can use OneDrive, Google Drive, Dropbox, etc.

[2019-05-15 15:05] tomas-pluskal commented on #586
I looked into the various spectra comparison algorithms a while ago, and made the following list. Might be useful.

[Spectra comparison methods.pdf](https://github.com/mzmine/mzmine2/files/3183167/Spectra.comparison.methods.pdf)

[2019-05-16 21:56] chandlerjd commented on #585
I tried to reproduce the result with a slightly smaller number of samples (limited myself to QC files to make the file sizes manageable), and I included an additional QC file I hadn't before (it's more of a reference standard). This did not reproduce the problem so far as I can tell, so I'll have to go back to the original dataset again.

I did notice another odd thing though, using gap filling on

[2019-05-20 15:45] tomas-pluskal commented on #583
@robinschmid I would like to release v2.40 with all the recent additions, but I think this issue deserves some attention before we release it to the public. Will you have some time to work on it?

[2019-05-20 15:47] robinschmid commented on #583
Definitely, this was the next thing on my list. I am trying to finish this by tomorrow or wednesday.
(After the last used files PR #592 )

[2019-05-22 15:07] robinschmid commented on #586
See PR #593
A new SpectralSimilarityFunction is added and two methods are implemented:
Composite cosine similarity (NIST search for GC-MS)
Weighted cosine similarity

[2019-05-23 19:30] robinschmid opened #598 "Spectral library matching - Results visualizer"
This is a reminder that we still need to change the results visualization of the spectral library matching:

- Change metadata pane (@Annexhc )
- Change SpectralMatchIdentity (@robinschmid )
  - Save the experimental masslist + filtering steps, to visualize all filtered, matched and unmatched signals

I would suggest that we wait for this before we create next version.
My part will be done on frid

[2019-05-23 21:27] Annexhc commented on #598
Hey Robin, I hope I will finish the spectra matching by tomorrow.
One more point regarding the spectral library matching peaklist method. The identities should be sorted by matching score.

[2019-05-23 22:35] jcanderan opened #599 "Long Filenames in Batch Mode (and GUI)"
### Setup

I am reporting a problem with MZmine 2 version 2.39.
My operating system is Windows 10, 64 bit.

Below I pasted the exact output of the following commands:

java version "10.0.1" 2018-04-17
Java(TM) SE Runtime Environment 18.3 (build 10.0.1+10)
Java HotSpot(TM) 64-Bit Server VM 18.3 (build 10.0.1+10, mixed mode)

### Issue
I have some very long filenames (> 255 characters including dire

[2019-05-24 01:11] tomas-pluskal commented on #599
Hi, what if you import mzML file from the same path, does that work?
Does the complete path contain any spaces?

[2019-05-24 23:29] robinschmid commented on #598
resolved by #600

[2019-05-24 23:31] robinschmid commented on #583
resolved by #595

[2019-05-25 03:08] #584 closed

[2019-05-27 16:44] tomas-pluskal opened #601 "Open last project"
<img width="498" alt="Screen Shot 2019-05-27 at 12 43 42" src="https://user-images.githubusercontent.com/1796692/58431713-1d28ef00-807d-11e9-89aa-39e94d015bcd.png">

How about making the Open last project menu disabled if it's empty?

[2019-05-27 16:52] robinschmid commented on #601
Sounds good

[2019-05-27 17:23] tomas-pluskal commented on #598
<img width="1365" alt="Screen Shot 2019-05-27 at 13 19 00" src="https://user-images.githubusercontent.com/1796692/58432796-32544c80-8082-11e9-8cec-91e2c6bd6dd6.png">

A few things I noticed:
- the title of the results window remains as "Processing..."
- what is the purpose of the task controller in the bottom of the window?
- zooming is a bit weird - if I zoom the intensity scale in the top spectr

[2019-05-27 17:32] robinschmid commented on #601
Resolved

[2019-05-27 17:34] #601 closed

[2019-05-27 17:45] Annexhc commented on #598
ah okay, that's weird, the processing should switch to a number of match results. The task controller was only to display the progress since it may take a while when processing a large database. In a previous version it was removed after the last task. What do you prefer? We could also remove it since the results are now added constantly from separated tasks it is not that important anymore. My fi

[2019-05-27 17:52] robinschmid commented on #598
We could ...
- change to relative intensities.
- add a button/option to couple the intensitiy axes of the mirror plot

[2019-05-27 19:05] Annexhc commented on #598
@tomas-pluskal does the "Processing..." title remains only when you open the spectra results window from the peak list or does it also happen when you perform spectra matching with the spectra visualizer?

[2019-05-27 19:11] Annexhc commented on #598
never mind, Ive found the bug

[2019-05-27 20:07] Annexhc commented on #598
See PR #603

[2019-05-27 21:09] tomas-pluskal commented on #598
<img width="1679" alt="Screen Shot 2019-05-27 at 17 03 57" src="https://user-images.githubusercontent.com/1796692/58439337-828ed700-80a1-11e9-8bf9-c01e2f2582da.png">

More comments:
- I think the spectrum is too big and cannot be resized, that is a problem - the above screenshot is with a maximized window on my 15" MacBook Pro screen.
- both Y axes are titled "rel. intensity", it is not clear whic

[2019-05-27 21:16] Annexhc commented on #598
oh boy yeah you are totally right about the size. I am using a 4k display, I got the dimensions all wrong I guess. I will look into it tomorrow.
I will add chance Y axis label. something like "Library [%]" should be understandable.
Great idea with the color gradient.

[2019-05-28 05:43] robinschmid commented on #598
We could use a static color gradient from 50% to 100% as red to green.
50% should be the minimum score that we need to expect.
This way, the colors will always represent the same score

[2019-05-29 15:20] robinschmid opened #606 "Concurrent modification of identities"
Hey all,

I got a concurrent modification exception (only once) during MS/MS spectral matching. The exception points to SimplePeakListRow.addPeakIdentity. Maybe this method should be changed to (instead of having the whole method beeing synchronized):

[code]

What do you think?
I actually thought Vectors are thread safe.

[code]

[2019-05-30 07:23] Annexhc commented on #598
Solved by PR #605

[2019-05-30 21:32] tomas-pluskal commented on #606
Hi @robinschmid
Vectors are synchronized, but concurrent modification can still happen when one thread is iterating over the vector and another thread modifies it during the iteration. In other words, synchronized doesn't mean the whole iteration block is synchronized.

I think your proposed solution actually doesn't change much, because the addPeakIdentity() and removePeakIdentity() methods are a

[2019-06-02 16:09] robinschmid commented on #606
this should be fixed - I had no issues anymore

[2019-06-02 16:09] #606 closed

[2019-06-02 16:10] #598 closed

[2019-06-04 13:02] alexlanzon opened #611 "Error to load raw data import to MZmine"
### Setup

I am reporting a problem with MZmine 2 version 2.40.1 and 2.40.0
My operating system is Windows 10 Pro 64-bit

java -version 8 update 211

### Expected behavior

Load samples without any complication

### Actual behavior

When I tried to load samples, the following error window appears (attach screenshot)
![Issue 1](https://user-images.githubusercontent.com/51370234/58881017-8a6dfd00-86

[2019-06-04 13:44] tomas-pluskal commented on #611
Please upload one of the files that cause problems

On Tue, Jun 4, 2019 at 09:03, alexlanzon <notifications@github.com> wrote:

[2019-06-04 14:01] alexlanzon commented on #611
Hello, Thomas.

Thanks so much for your help.

I have upload two files from the batch (all the files have the same behaviour):

https://drive.google.com/file/d/1tWEiFpfOtP5_Yy4FZ5T26eggkIe_GeZU/view?usp=sharing

Best,

Alex.

[2019-06-04 18:38] tomas-pluskal commented on #611
Hi, I fixed the issue. The fix will be included in next MZmine release. That said, you should move away from using mzData files, it is an outdated format. Use mzML instead.

[2019-06-05 09:40] alexlanzon commented on #611
Hello, Thomas.

Thanks so much for your help.

I have converted my data to mzML format and the issue have not appeared using that format.

Thanks again.

Best,

Alex.

[2019-06-11 23:54] tomas-pluskal opened #615 "ADAP chromatogram deconvolution hangs"
It seems setting the "RT wavelet range" parameter to a range with the same min and max (like 0.1 - 0.1) causes the method to hang with high CPU use.

@du-lab @asmirn1 Could you take a look at that?

[2019-06-12 02:20] tomas-pluskal opened #616 "Spectral search for single peak list row?"
@robinschmid Wouldn't it be useful to have the option to search spectral database for a single peak list row, similarly to other search functions that we have?

<img width="1163" alt="Screen Shot 2019-06-11 at 22 19 10" src="https://user-images.githubusercontent.com/1796692/59318999-1ca47100-8c97-11e9-92c7-fa93c06933ae.png">

[2019-06-12 02:26] tomas-pluskal commented on #583
@robinschmid The spectral library export still seems quite buggy:

<img width="1210" alt="Screen Shot 2019-06-11 at 22 24 15" src="https://user-images.githubusercontent.com/1796692/59319185-b9670e80-8c97-11e9-81e2-1263550804e3.png">

When I click Check:

<img width="248" alt="Screen Shot 2019-06-11 at 22 24 57" src="https://user-images.githubusercontent.com/1796692/59319207-cc79de80-8c97-11e9-95fe

[2019-06-12 05:52] Annexhc commented on #616
hey Tomas, that is a good idea. I can handle this.

[2019-06-12 07:31] robinschmid commented on #616
I have planned to do this. But somehow I forgot to implement it
;)
I could also do it.
We should rund it on all selected peaklist rows and keep it similar to the peaklist module

[2019-06-12 12:45] asmirn1 commented on #615
Sure, I'll fix it.

[2019-06-12 13:58] asmirn1 commented on #615
Hi Tomas,

I've pulled the latest version of MZmine 2, and now it doesn't compile for me. I'm using Java 8. Here is the output:
[code]

[INFO] Scanning for projects...
[INFO]
[INFO] ----------------------< io.github.mzmine:mzmine2 >----------------------
[INFO] Building MZmine 2.40.1
[INFO] --------------------------------[ jar ]---------------------------------
[WARNING] The POM for org.rsc.chems

[2019-06-12 15:04] asmirn1 commented on #615
It seems that Java 8 (or maven) doesn't understand the line `<release>8</release>` in the pom.xml. If I remove that line, then the compiler works fine.

[2019-06-12 19:28] tomas-pluskal commented on #615
You are right. However, that line is required for building MZmine with newer versions of Java.

Do you actually need to build MZmine using maven? If you are using Eclipse, you can run it directly from Eclipse just using the in-built Eclipse java compiler.

[2019-06-12 20:30] asmirn1 commented on #615
I didn't try compiling it with Eclipse. I can try it.

I wonder if it's possible to have pom.xml file that would work with both Java 8 and Java 9. What if we specify the source/target/release in the __properties__ section instead of __plugin__. Something like this:

[code]

It works with Java 8. Would it work with Java 9?

I'm attaching a new pom.xml here
[pom.xml.txt](https://github.com/mzmine/mz

[2019-06-12 20:34] tomas-pluskal commented on #615
It is much better if you run MZmine directly from Eclipse, because then you can update the code while MZmine is running, and it will immediately reflect the changes.

See section 6 here: https://mzmine.github.io/eclipse_tutorial.html

[2019-06-12 20:35] tomas-pluskal commented on #615
As an alternative solution, just install a newer JDK. I haven't tried your pom.xml but I don't believe changing it to properties is going to help.

[2019-06-12 20:45] asmirn1 commented on #615
Well, okay. I might try Eclipse.

[2019-06-12 21:17] atostengard opened #617 "Help With Appropriate Modules for UPS2 Dataset"
Hi, I spoke to you at ASMS about our evaluation of XIC extraction algorithms (in Rob Smith's lab), and you directed me here for assistance. The dataset we would like to run can be found here: https://www.ebi.ac.uk/pride/archive/projects/PXD001587.

As it is a centroided dataset, I assume that I will want to use the centroid mass detector. Beyond that, I am looking for suggestions on other modules

[2019-06-12 22:58] asmirn1 commented on #615
Actually, setting up source/target/release in __properties__ instead of __plugin__ and running `mvn clean install` works with both Java 8 and Java 11. I've just checked it.

I couldn't download Java 9 (its support is ended and it's not available on the Oracle website), but I assume it might work with Java 9 as well.

It's possible that maven handles its properties (<maven.compiler.source>, etc.) m

[2019-06-12 23:25] asmirn1 commented on #615
I don't mind using JDK 9. It just seams strange having source and target set to 8, but not being able to compile it with Java 8.

[2019-06-13 00:35] tomas-pluskal commented on #615
If you remove the ```<release>8</release>``` line, it will still compile with Java 9+. But you will run into serious compatibility issues in runtime - for example, loading a project won't work. Try and see for yourself.

The only reason we stick to Java 8 (which is not supported anymore by Oracle, by the way) is the old 3D visualizer, which does not work with Java 9+. But we have a student current

[2019-06-13 00:48] asmirn1 commented on #615
Okay, I see now.

[2019-06-13 12:25] tomas-pluskal commented on #617
Hi Annika,

In order to give you a good advice, I need to know what and how you are actually going to evaluate.

[2019-06-14 19:54] atostengard commented on #617
Hi Tomas,

Thank you so much for your quick response! This evaluation is on the XIC-level only; essentially we look at each XIC found in the ground truth, and find the corresponding XIC by matching the m/z and r/t values for each point. Then we look at which points were assigned by the algorithm, and if at least 50% of the same points were clustered by both the ground truth and algorithm, then it'

[2019-06-15 10:11] tomas-pluskal commented on #617
Hi Annika,

I still need more details, because some of the terms you are using can mean different things to different people (like “XIC” or “points”). Can you upload an example of the data format how your ground truth data looks like?

Also, the centroid mass detector in MZmine does not output XICs, and the results of the centroid mass detector cannot be directly exported to CSV, so I am a bit con

[2019-06-17 22:17] atostengard commented on #617
Hi Tomas,

Here are the first few hundred lines of the ground truth file that we are using:
[ups2GroundTruthSample.xlsx](https://github.com/mzmine/mzmine2/files/3298781/ups2GroundTruthSample.xlsx)
Each line represents a point, and a traceID or envelopeID of 0 indicates that the point was unassigned (trace here meaning XIC or peak). Any other number in those columns indicates that point was assigne

[2019-06-18 08:16] tomas-pluskal commented on #617
What is your definition of "point"? Does that mean every single ion (centroid) in each scan?
In other words, does your "ground truth" file contain ALL spectral data points that are found in the original raw file?

A second question: In your ground truth file I see this:
[code]
How is it possible that XIC trace 3610 contains both masses 431.2234 and 431.2626 at the same retention time 0.249? That m

[2019-06-18 08:18] tomas-pluskal commented on #617
By the way, a while ago I made these slides about evaluating feature detection.
I recommend to take a very close look at the papers listed in these slides:

[20190618 evaluating feature detection.pptx](https://github.com/mzmine/mzmine2/files/3300489/20190618.evaluating.feature.detection.pptx)

[2019-06-18 08:56] jaworskicoline opened #619 "config.xml reloaded in batch mode"
### Setup

Hello, I am trying to run MZmine 2.18.1 (GC development) on a cluster with a PBS grid. (Linux 64-bit).

I have noted the correct path to R executable in the conf/config.xml where the MZmine executable is. However, I notice that MZmine reloads another config.xml (which I don't know when it has been written) during the batch processing, and that other config.xml does not have the correct

[2019-06-18 09:16] tomas-pluskal commented on #619
Hi,
The configuration is saved as part of the project file. You can fix the issue by loading the project in MZmine GUI, changing the configuration, and saving the project again.
Currently, there is no way to load a different configuration file during batch mode execution (feel free to contribute).

[2019-06-18 09:18] jaworskicoline commented on #619
Thanks !
Can I do that in command lines ? I have already transferred my 3.1G project on the cluster, if there is a way to modify it without desktop mode, that would be wonderful !

[2019-06-18 09:19] tomas-pluskal commented on #619
The .mzmine project file is just a regular ZIP file that contains all the data, including the configuration file. So you can just unzip the file on the cluster, replace the configuration file, and zip it again.

[2019-06-18 09:22] jaworskicoline commented on #619
wonderful ! I will try that, thanks !!

[2019-06-18 09:25] #619 closed

[2019-06-18 21:43] atostengard commented on #617
Hi Tomas,

Yes, point being every single centroid in each scan; although we didn't include any centroids with an intensity lower than 2.

Also I think I may have the old, unvalidated version of the file on my local machine, which is what I sent to you. The validated file is a version where one person reviewed each trace/envelope with the goal of fixing mistakes. Using the validated file and our vi

[2019-06-19 07:49] tomas-pluskal commented on #617
Okay, now I understand what you are trying to do.

However, the CSV export module in MZmine does not export such data. It only exports one chromatogram per line, with its "average" m/z value (calculated from all the points of the whole chromatogram) and its RT value (at the apex). If you want to extract all individual points of all detected chromatograms from MZmine, you will have to implement a n

[2019-06-19 18:36] atostengard commented on #617
Hi Tomas,

Ah that's right, it's been a couple months so I had forgotten some of the exact details. What I did was export the row ID, peak RT start, peak RT end, peak m/z max, and peak m/z min. Then I have a script that iterates through the points in the ground truth file, and assigns them the corresponding row ID based on  whether they fit within the m/z and r/t range reported in the exported CSV

[2019-06-20 07:04] tomas-pluskal commented on #617
Okay, I understand. In that case you will probably end up with more points reported for MZmine than what MZmine actually detects in the XIC. So your "precision" will be fine but your "recall" may be biased, depending on how you are calculating the final score.

My main concern is that in your ASMS poster you showed very poor results using MZmine, which to me suggests that there is some problem in

[2019-06-21 06:30] Adafede commented on #497
Hi, with the many recent improvements and developments regarding clustering (@robinschmid ), still no hopes to create DIA pseudo MS2 spectra in MzMine?

Best

[2019-06-21 06:40] Adafede commented on #586
Hi,

I also tried looking a bit into it, and I think that the Earth Mover's Distance (EMD) ([https://en.wikipedia.org/wiki/Earth_mover%27s_distance#EMD-based_similarity_analysis]) could be of interest. Still more used in proper image comparison than spectra but who knows...

[2019-06-21 16:09] tomas-pluskal commented on #497
Hi,
We have the spectral deconvolution modules for GC-MS developed by Alex Smirnov @asmirn1.
Alex is now working on expanding the module for LC-MS DIA data, too.

[2019-06-21 18:59] robinschmid commented on #586
Thanks for sharing. Are you actively using or planning to contribute to MZmine?

[2019-06-23 13:56] photocyte opened #620 "Feature request: rename in Peak list drop down menu"
In the current Peak list interface (MZmine2 v2.40.1), it is possible to rename Peak lists.

<img width="393" alt="Screen Shot 2019-06-23 at 9 51 38 AM" src="https://user-images.githubusercontent.com/12517705/59977228-cee40e80-959c-11e9-8ce9-6af5871ce6a9.png">
(editing box shown with red arrow)

But, the only way I am aware to get the Peak list name text box to be activated for editing, is to singl

[2019-06-24 09:14] Adafede commented on #586
Actively using -> surely
Planning to contribute -> sadly not the skills to

But glad if ideas can help!

[2019-06-24 14:33] Annexhc commented on #620
Have you tried single click on the feature list + pressing F2?
That works for me. If it does not work on your system I can add the rename function to the pop up menu.

[2019-06-24 23:36] srezaei268 opened #623 "Error in importing Raw data"
MZmine 2.40.1
Java 8 update 211
Windows 10, 64bit.
![1](https://user-images.githubusercontent.com/52181352/60058575-7dc43f80-96ae-11e9-85d0-84f93406d857.jpg)
![2](https://user-images.githubusercontent.com/52181352/60058579-8157c680-96ae-11e9-9d05-1b918b26c234.jpg)

I can not import my raw data files to MZmine. This error (800736b1.(Native File Read Task.java:198)) appears each time. I'll appreciat

[2019-06-25 02:08] photocyte commented on #620
It works for me, in a strange way (on MacOS).  I can simultaneously left click + F2, and after a solid 600ms delay, the text box will become editable.  Similarly, if I left click, then press F2, the text box will become editable, after a similar ~600ms delay.  Pressing F2 alone doesn't do anything.  Is this behavior documented anywhere?

[2019-06-25 03:18] SripadJ opened #624 "MetaCyc error"
### Setup

I am reporting a problem with MZmine 2 version 2.40.1.
My operating system is Mac OS (10.14.5).

The error message is:
[22:51:32|WARNING|net.sf.mzmine.modules.peaklistmethods.identification.onlinedbsearch.PeakListIdentificationTask]: Could not search MetaCyc(java.io.IOException: java.io.IOException: Could not parse compound name@net.sf.mzmine.modules.peaklistmethods.identification.onlin

[2019-06-25 06:38] robinschmid commented on #623
Hey,

it is always good if you copy and paste the exception stack trace from the console. Are you trying to import thermo raw data?
Can you import the data with one of the previous versions?

Cheers
Robin

[2019-06-25 10:55] tomas-pluskal commented on #624
Can you show the exact settings you used for the search?

[2019-06-25 11:00] SripadJ commented on #624
Hello,
I tried it couple of times and its the same entry (479.2656 m/z) at which it gives error.

This is the picture of the settings used.

![Screenshot 2019-06-25 06 57 11](https://user-images.githubusercontent.com/34070285/60093217-e0e9bc80-9716-11e9-96f6-d01accacc329.png)

[2019-06-25 11:29] Annexhc commented on #620
Sorry, I have no experience with MacOS and I cannot test it. On linux I have normal behavior, no delays or something similar. I think @tomas-pluskal  uses MacOS. Maybe he can test it.

[2019-06-25 13:26] tomas-pluskal commented on #624
Could you isolate that single row (delete all other rows from the peak list), save the MZmine project and upload it somewhere so I can take a look?

[2019-06-25 14:00] srezaei268 commented on #623
This is the exception stack trace from the console when I want to import raw data from my laptop:

----------
[8:23:42|FINEST|net.sf.mzmine.desktop.impl.MainMenu]: Setting parameters for module Raw data import
[8:23:46|FINEST|net.sf.mzmine.desktop.impl.MainMenu]: Starting module Raw data import with parameters Raw data file names: [C:\Users\Pars\Desktop\LCMS data\cntflower1.raw]
[8:23:46|FINEST|ne

[2019-06-25 15:31] KiroVandenBerg opened #625 "Formula prediction based on re-imported Aligned peak list.mzTab"
Dear all,

I´ve exported an Aligned peak list as mzTab file.
I reduced the list (row numbers) to the m/z values i am actually interested in.

I reimported the reduced list as mzTab file.
Unfortunately it does not shows me the Peak shapes and also the Formula prediction does not work anymore but it is able to show me XICs, so the "connection" to the raw files seems to exist.

Any ideas what I can d

[2019-06-25 15:34] tomas-pluskal commented on #620
For me the editing always works, no matter where I click (it doesn't need to be near the right end). But adding the Rename item to the popup menu certainly won't hurt anything.

[2019-06-25 15:35] tomas-pluskal commented on #625
mzTab contains only a small subset of the data, so there is no way to recover the full information by reimporting

Please define "Formula prediction does not work anymore"

[2019-06-25 15:45] KiroVandenBerg commented on #625
Dear Tomas,
Thanks for your fast response!
The formula prediction immediately finish, w/o actually trying to predict formulas.

Ok, I was hoping that the data can be recovered, since the data are contained in the mzmine project.
Is there another 'convenient' way to reduce the Aligned peak list, e.g. based on an external excel list but keeping the full analytical capabilities mzmine offers?

Kind r

[2019-06-25 15:52] tomas-pluskal commented on #625
Can you send me the .mzmine project file after reimporting your mztab file, and the exact parameters you used for the formula prediction? I'll take a look why it didn't work.

For reducing the peak list, you can use the "custom DB search" module to "tag" the peaks you are interested in (e.g., using the "comment" field) and then you can use the "peak list rows filter" module to select only those ro

[2019-06-25 15:56] Annexhc commented on #620
Okay, I can do it.

[2019-06-25 16:26] KiroVandenBerg commented on #625
Dear Tomas,

thanks a lot for this great advice!
The approach with the custom database seems to work to reduce the list, but likely with one issue.

I created a DB from the manipulated mzTab file I already had.
I made it like this:

ID,m/z,Retention time (min),Comment
1,357.2789307,64.82077992,interest
...
However what I received past "Custom DB search" is the "interest" in the "Identity" column a

[2019-06-25 16:34] KiroVandenBerg commented on #625
Regarding the formula prediction,  it seems it does not works if there is already an entry in the ID column.
I manually removed the "interest" in the ID column and now for these molecules the formula prediction is working.

[2019-06-25 19:38] tomas-pluskal commented on #623
Try installing ProteoWizard (http://proteowizard.sourceforge.net/download.html) and after that, try the import in MZmine again. It's possible that it's missing some libraries and installing ProteWizard will fix the issue.

[2019-06-25 20:02] srezaei268 commented on #623
Hi,
I have installed ProteoWizard and imported data in MZmine again but the same error appears.

[2019-06-25 20:21] tomas-pluskal commented on #623
Have you restarted Windows after the installation?

[2019-06-25 20:31] srezaei268 commented on #623
Yes. I even tried importing data in other version of MZmine but same error pops up.

-------
[15:26:39|FINEST|InetUtils]: Retrieving data from URL http://mzmine.github.io/version.txt
[15:26:39|FINEST|InetUtils]: Retrieved 7 characters from http://mzmine.github.io/version.txt
[15:26:39|INFO|NewVersionCheck]: An updated version is available: MZmine 2.40.1
[15:26:42|FINEST|MainMenu]: Setting paramete

[2019-06-25 20:31] tomas-pluskal commented on #623
How about if you use MSConvert from ProteoWizard to convert your .raw file into .mzML format, does that work?

[2019-06-25 20:39] srezaei268 commented on #623
Thank you very much Tomas. That worked.
![3](https://user-images.githubusercontent.com/52181352/60131599-5a0d0200-975f-11e9-8f17-32bd5fc7099e.jpg)

[2019-06-25 20:56] tomas-pluskal commented on #623
Okay. I don't know why the import in MZmine is not working, but it seems like something specific to your laptop so it's going to be hard to reproduce and debug.

[2019-06-25 21:06] srezaei268 commented on #623
Actually I am a new learner and user of MZmine and I am using it for my metabolomics project.
So in case of using .mzML format instead of .raw format, would it be problem in further processing and analyzing?

[2019-06-25 21:08] tomas-pluskal commented on #623
No problem, mzML is an open, well supported data format.

[2019-06-25 21:09] srezaei268 commented on #623
Great.
Thank you very much for your help.

[2019-06-27 00:48] #615 closed

[2019-06-27 15:17] oligegilo opened #627 "Problem with cosine value within ID-tag during join alignment"
I am reporting a problem with MZmine 2 version 2.40.1
My operating system is 64-bit.

I'm comparing peaklists of different samples that have been processed with a local spectral database based on MS2 data. During Join Aligner step I chose the option "Require same ID" so that identified features will be aligned based on their prior MS2 similarity and not just m/z and RT. So far so good, but there i

[2019-06-27 15:24] oligegilo commented on #627
Ok quick update from my side: I edited the ID labels myself within the peaklists before the merging step and then it works as expected - still editing the labels per hand is quite laborious when dealing with big data..

![Alignment_2](https://user-images.githubusercontent.com/43857712/60278820-5ebcec00-9900-11e9-9b2a-f0daf3f42a9e.JPG)

[2019-06-28 08:06] Annexhc commented on #627
We could move the score to the comment.

[2019-06-28 08:59] oligegilo commented on #627
That would be perfect! I'm stuck right now with my analysis because of that. I was able to export the peak list as mzTab and delete the cosinus value from the ID label via a shell command but when I import the mzTab files again the actual MS2 data is not linked to the peak list anymore, which makes a .mgf export impossible...anyways, your suggestion would be the easiest solution here.

[2019-06-28 09:16] Annexhc commented on #627
okay, if it is really urgent I can send you a custom version for your requirements. We can then still decide if we put these changes to the main branch of MZmine. You can contact me: ansgar.korf@wwu.de

[2019-06-29 15:00] sudhashanmugam-sudo opened #628 "i am getting error message"
### Setup

I am reporting a problem with MZmine 2 version (*Please fill this in*).
My operating system is (*Please fill this in, including version number and 32-bit or 64-bit *).

Below I pasted the exact output of the following commands:
[code]

### Expected behavior

(*Please fill this in*)

### Actual behavior

(*Please fill this in, and paste any relevant exceptions, log messages, and screensh

[2019-06-29 15:06] sudhashanmugam-sudo opened #629 "i am getting error message in mac"
<img width="607" alt="Screen Shot 2019-06-29 at 10 01 58 AM" src="https://user-images.githubusercontent.com/52352091/60385991-896c8900-9a55-11e9-93b6-8c64fda93753.png">
### Setup

I am reporting a problem with MZmine 2 version (*Please fill this in*).
My operating system is (*Please fill this in, including version number and 32-bit or 64-bit *).

Below I pasted the exact output of the following co

[2019-06-29 15:16] Annexhc commented on #629
Okay, we need more information on what you have tried.

[2019-06-29 16:34] Annexhc opened #630 "Feature request: Spectral deconvolution"
Hi guys,
this request goes to @asmirn1. Can you add the choice "most intense" to the parameter "Choice of Model Peak based on" for your spectral deconvolution modules? For me it is quite hard to predict the "sharpness" of a peak over a big data set, because the peak shape heavily depends on the column condition. The latter of course can change a lot after 100 GC-MS runs. Anyway, as the ionization

[2019-06-29 22:44] asmirn1 commented on #630
Yes, I think we can do it. In my experience, sharpness is quite similar to the maximum intensity. Unless there is a strong baseline level in your signal - in the latter case, sharpness might be a preferred choice. Let me talk to @duxiuxia about adding "most intense" to the parameter "choice of model peak based on".

[2019-06-30 02:02] sudhashanmugam-sudo commented on #629
Hello
I have dowloaded mzmine 2 and java 8 in my mac pro. But when I am trying to
import data  i am getting error message as I have attached. Please help.

Thanks

On Sat, Jun 29, 2019 at 10:16 AM Ansgar Korf <notifications@github.com>
wrote:

[2019-06-30 07:31] Annexhc commented on #629
What type of raw data? Thermo, Waters...?

[2019-06-30 07:37] Annexhc commented on #629
Anyway, if you use mac, you have to convert your raw files to an open format such as mzML. For that you can use MSConvert. Native raw data files are only supported on windows. For more information please check the MZmine documentaton (http://mzmine.github.io/documentation.html).

[2019-06-30 08:46] Annexhc commented on #630
Hey Alex, that would be great! Since it is just one more option it would not hurt anyone thought.

[2019-06-30 15:56] #628 closed

[2019-06-30 15:56] tomas-pluskal commented on #629
Thanks @Annexhc

[2019-06-30 15:56] #629 closed

[2019-07-02 11:10] robinschmid commented on #627
Be aware that if you acquire data for n samples, alignment will only be correct on all samples if you aquire an MS2 scan in each sample for this feature (specific analyte ion).

We still need to find a way to compare library entries (you could have multiple MS2 library spectra in the library from different instruments and fragmentation energies...)

[2019-07-02 11:12] robinschmid commented on #627
Maybe it would be better to introduce a MS2 cosine similarity to the join aligner and to only align features with similar MS2 spectra.
@tomas-pluskal @Annexhc what do you think?

[2019-07-02 12:30] robinschmid commented on #616
Thanks for the implementation Ansgar.
Works fine on single and multiple rows at a time.
This issue should be resolved.

[2019-07-02 12:32] tomas-pluskal commented on #616
Thanks you all!

[2019-07-02 12:32] #616 closed

[2019-07-02 12:35] robinschmid commented on #583
This one must have slipped through. I just saw your error description.
It should be fixed with PR #632

[2019-07-02 12:36] robinschmid commented on #544
Sorry for the late response. I have missed your request.

I have never used the NIST search in MZmine. However, there is a spectral library matching function in MZmine for GC-MS and LC-MS data.

[2019-07-02 14:16] asmirn1 commented on #630
Ansgar,

I've created a pull request. Let me know if it works for you.

Alex.

[2019-07-02 14:23] Annexhc commented on #630
Hey Alex,
thank you very much for your fast response! I will test it right away and let you know about it.
best,
Ansgar

[2019-07-02 20:31] RicardoMBorges commented on #280
Hello, I've just came across the same issue.
Eventually, when I marked the 'm/z range for MS2 scan pairing (Da)' and the 'RT range for MS2 scan pairing (min)', I got the MS2 patterns back.

Can I get this opportunity to ask exactly what is the parameter wavelets from the ADAP algorithm? ...I read a paper on wavelets form chromatogram, but no success in understanding it.

Thanks
Ricardo M Borges

[2019-07-02 20:33] RicardoMBorges commented on #319
Can I get this opportunity to ask exactly what is the parameter wavelets from the ADAP algorithm? ...I read a paper on wavelets form chromatogram, but no success in understanding it.

[2019-07-02 20:34] RicardoMBorges opened #634 "Chrom deconvolution - ADAP wavelets"
Can I ask exactly what is the parameter wavelets from the ADAP algorithm? ...I read a paper on wavelets form chromatogram, but no success in understanding it.
It is indeed very sensitive and I keep changing it randomly.
Thanks
Ricardo M Borges

[2019-07-02 20:38] tomas-pluskal commented on #280
Hi Ricardo, please file a new issue regarding your wavelet/ADAP question.

[2019-07-02 20:45] asmirn1 commented on #319
Hi Ricardo,

I'm not sure that I understand your question. Which parameter are you referring to?

If you want to read more about ADAP Chromatogram Deconvolution algorithm, then you can take a look at this paper [https://pubs.acs.org/doi/10.1021/acs.analchem.7b00947](https://pubs.acs.org/doi/10.1021/acs.analchem.7b00947)

Also, me and @duxiuxia might be able to answer your questions.

[2019-07-02 20:47] asmirn1 commented on #634
Hi Ricardo,

I'm not sure that I understand your question. Which parameter are you referring to?

If you want to read more about ADAP Chromatogram Deconvolution algorithm, then you can take a look at this paper https://pubs.acs.org/doi/10.1021/acs.analchem.7b00947

Also, me and @duxiuxia might be able to answer your questions.

[2019-07-02 21:41] RicardoMBorges commented on #634
Thank you. I missed this paper. I'll red it and come back with question.
Thank you a lot for your quick answer.

[2019-07-03 12:42] asmirn1 commented on #634
Sure! Let me know when you have questions.

You can also email me at asmirno1@uncc.edu

[2019-07-04 03:07] jeremykoelmel commented on #540
LipidMatch Flow only works with MZMine 2.26, which comes with the software.

[2019-07-04 03:17] tomas-pluskal commented on #540
@jeremykoelmel So you’re distributing a software that embeds an outdated version of MZmine? How is that sustainable/maintainable in the long term?? Wouldn’t it make more sense to contribute your code to the main MZmine development branch?

[2019-07-04 04:38] jeremykoelmel commented on #540
It would of course be ideal to be integrated in MZMine, we would get more interest and it would promote lipid users to come to MZMine (MZMine is amazing, and is my favorite peak picking software for most applications).

That being said...
We lost the main engineer who actualized LipidMatch Flow from my R scripts. I am currently to busy and don't have anyone to do the integration. It currently is n

[2019-07-04 14:32] KiroVandenBerg opened #635 "No possibility to cancel Formula prediction"
Hi,

accidently I started the Formula prediction for an m/z value without an isotope pattern.
This led to the issue that the software is not responsible anymore although the search still goes on at half a million possible formulas at the moment. I am not yet sure if the software totally crahed.

Kind regards

Kiro

[2019-07-04 14:34] tomas-pluskal commented on #635
Can you show a screenshot of the parameter setup dialog with all the values that you used?

[2019-07-04 15:06] KiroVandenBerg commented on #635
Not at the moment, since mz mine is not responding and I hope I can avoid to shut it down.

But the settings were:
mass accuracy of 5 ppm, absolute intensity of 2.0 E4 and a minimum score of 90% - which is not possible since he has no isotope pattern but nevertheless, mzmine performs the search .
Ionization type H+.

[2019-07-06 08:42] xiaodfeng opened #636 "Can't connect to X11 window server using 'localhost:12.0' as the value of the DISPLAY variable.@sun.awt"
### Setup

I am reporting a problem with MZmine 2 version (*2.40.1*).
My operating system is (*Linux server*).

Below I pasted the exact output of the following commands:
[code]

### Expected behavior

(*Run the mzMine on Linux server using batch mode*)

### Actual behavior

(*Obtained an error: Can't connect to X11 window server using 'localhost:12.0' as the value of the DISPLAY variable.@sun.awt

[2019-07-06 10:17] ciubi85 opened #637 "Feature filtering of GC/MS data"
Hi all,

I'm currently leading a research project involving non-targeted analysis of GC/MS data and I am developing a workflow using mzMine 2.41. So far, so good. The software works perfectly after optimisation of the different steps.

I just have a problem with **data filtering**. After peak alignment between the different chromatograms, I use the NIST library for compound identification using MS

[2019-07-06 11:42] asmirn1 commented on #637
Hi Matteo,

For information about processing GC/MS data with MZmine, you might want to take a look at the [ADAP tutorial](http://mzmine.github.io/ADAP_user_manual.pdf). It contains a sample workflow for processing GC/MS.

As I understand, what you are referring to as __data filtering__ is called __spectral deconvolution__ within MZmine. There are two modules to do that: _Spectral Deconvolution / H

[2019-07-06 11:59] asmirn1 commented on #636
As I understand, this error indicates that MZmine is trying to run in the GUI mode instead of the batch mode. Maybe the problem is that when you execute
[code]
the argument `/path/to/batch/file/BatchFileName.xml` is not passed correctly to sbatch/Slurm. I would check the logs for Slurm to see what command is actually executed:
[code]
or
[code]

[2019-07-06 14:29] tomas-pluskal commented on #636
It seems your cluster environment does not have an X server (which is fine), but you have the DISPLAY variable set in your environment, which causes this error. I think if you unset the DISPLAY variable, it should work fine.

[2019-07-06 18:19] ciubi85 commented on #637
Hi Alex,

thank you very much for your rapid reply. I tried to follow the ADAP tutorial and the GC pipeline on some test samples, using both the suggested algorithms for spectrum deconvolution. At the end, I can actually obtain a much shorter list of features. After identification with NIST, however, assignations are quite suspicious and I can’t find most of the compounds that are supposed to be i

[2019-07-06 18:24] ciubi85 commented on #637
FYI, here some images of the problem.

1. Reconstructed chromatogram after ADAP chromatogram builder:
![image](https://user-images.githubusercontent.com/52597403/60759846-76445500-a023-11e9-91b1-79535384cfb2.png)

2. Reconstructed chromatogram after chromatgram deconvolution:
![image](https://user-images.githubusercontent.com/52597403/60759851-8a885200-a023-11e9-85d4-fa90dfec1b99.png)

3. Reconstr

[2019-07-06 19:20] xiaodfeng commented on #636
@tomas-pluskal @asmirn1 Thank you for the suggestions. Problem sovled!
I run `unset DISPLAY` in command, then run the `sbatch startMZmine_Linux.sh  /path/to/batch/file/BatchFileName.xml` command again. It works now!

[2019-07-06 20:20] #636 closed

[2019-07-06 22:19] asmirn1 commented on #637
Hi Matteo,

Could you provide some additional information.

1. Could you describe the original workflow (without spectral deconvolution) that you were using to analyze your data? Please, list the MZmine modules in the order you are using them.

2. How do you perform identification with NIST? As I understand, you need to construct fragmentation spectra to perform identification on GC/MS data. How d

[2019-07-06 23:39] lfnothias commented on #637
Hi Matteo and Alex,
The issue might be somewhere else, but I notice that chromatograms displayed are kind of hashed (some data points are frequently 0). I could see the same issue in LC using the ADAP chromatogram builder. Increasing the m/z error tolerance helped a bit, but not completely ... so I am not sure what could be the reason for that.

LF

[2019-07-07 00:34] asmirn1 commented on #637
@lfnothias

I often see the same issue and increasing m/z error tolerance usually helps for me. Have you compared these results to the original MZmine chromatogram builder?

It's probably off-topic for this thread, so maybe we could create a new thread about this issue?

Alex

[2019-07-07 00:55] tomas-pluskal commented on #637
@lfnothias @asmirn1 I agree, please create a new Issue for this topic, and ideally please upload a test dataset that demonstrates the issue.

[2019-07-07 09:51] ciubi85 commented on #637
@asmirn1 Hi Alex,

My workflow is the following:
1. Mass detection using the "Mass detection" module
2. Chromatogram build using the "ADAP chromatogram builder" module
3. Chromatogram deconvolution using the "Chromatogram deconvolution" module and the wavelets (ADAP) algorithm
4. TR normalisation using the "retention time normalizer" module
5. Alignment using the "Join aligner" module
6. Compound

[2019-07-07 14:43] asmirn1 commented on #637
Matteo,

You are right about incompatibility of the spectrum deconvolution modules and the NIST MS Search module. In our lab, we use the following workflow:

1. Mass detection using the "Mass detection" module,
2. Chromatogram build using the "ADAP chromatogram builder" module,
3. Chromatogram deconvolution using the "Chromatogram deconvolution" module and the wavelets (ADAP) algorithm,
4. Spectra

[2019-07-07 14:52] ciubi85 commented on #637
Hi Alex,

thank you for your reply. I agree with you on the problem of composite peaks, and this is exactly why I started this thread. Using my workflow, I don't have any problem with the use of the NIST MS search module, as identifications are correct. The only problem I have is that the same identification is reported for all the supposed fragments; I just would like to automatically remove thes

[2019-07-07 15:02] asmirn1 opened #638 "Feature request: split module NIST MS Search into two modules"
Hi everyone,

This is related to issue #637.

It seems that now we have two similar workflows to process GC/MS data:

Workflow 1: after chromatogram deconvolution, use a __spectral deconvolution__ module to construct fragmentation spectra, then export those spectra into MSP files and open those files in NIST MS Search program for identification.

Workflow 2: after chromatogram deconvolution, use M

[2019-07-07 15:40] tomas-pluskal commented on #638
Hi Alex,

I like the idea. But who is going to do it? We don't even have the NIST library in our lab.

Tomas

[2019-07-07 15:41] ciubi85 commented on #638
Hi Alex,

As previously discussed, I am currently encountering this problem on the datasets I am analysing. I have a couple of ideas regarding how this can be implemented in mzMine and, eventually, the datasets to test the new modules/workflows. Therefore, I could provide assistance, if needed. Unfortunately, I am not a software designer and can't do it by myself. Let me know if you need help.

Re

[2019-07-07 15:43] ciubi85 commented on #638
@tomas-pluskal

As amendment to my previous post: I have the NIST library and NIST MS search software!

Matteo

[2019-07-07 17:07] asmirn1 commented on #638
@tomas-pluskal
I thought I recently saw someone on GitHub committing changes to NIST MS Search module, but I don't remember who it was. Well, I might take a look at the code and make these changes if I have time.

@ciubi85
If I make these changes, I can send the new version of MZmine to you to test it if you don't mind.

Alex.

[2019-07-07 17:10] ciubi85 commented on #638
No problem! Keep me updated.

Matteo

[2019-07-08 07:21] Annexhc commented on #637
Dear ciubi85,
I think your workflow is a good start for non-target GC-MS data analysis. You mentioned in your first post, that you want to do statistics with the aligned feature list. You should add a gap filling step in your workflow.
So, what exactly is your target?
From my experience with GC-MS data Ive found it most suitable for non-target analysis to use both workflows. Your approach, without

[2019-07-08 08:06] ciubi85 commented on #637
Hi @Annexhc,

Thanks for your comment. I agree with you: I surely need a filling-gap step at the end of the workflow. I will implement it immediately.

Your proposition of a two-step workflow sounds good. I'll give it a try but, still, I have doubts I can use the ADAP-GC workflow for suspect screening if this loses important peaks during the spectrum deconvolution (see images above). A targeted pe

[2019-07-08 08:29] Annexhc commented on #637
Dear ciubi85,
your workflow should already be fine. You could add a deistoping step after the chromatogram deconvolution to reduce the size of your feature list.
Before you can use the MetaboAnalyst export you have to add sample parameters (check the MetaboAnalyst export help menu). MetaboAnalyst itself is quite straight forward, as described in the help file itself. Select statistical analysis, a

[2019-07-08 09:14] Annexhc commented on #630
Hello Alex,
thanks for the implementation again. After some testing I think you were right. The results using intensity are really similar to sharpness. Anyway, since it is an addition, which is quite easy to understand, we should keep the option.
best,
Ansgar

[2019-07-08 10:08] ciubi85 commented on #637
Hi @Annexhc,

Thanks for you suggestions. I will take them into account and optimise my workflow. I will also give a try to MetaboAnalysis.

The goal of the project I'm following is to extensively characterise the sample compositions, so just a rapid identificaiton of the most features, as you said. I think that now I have a better idea of what is feasible with mzMine and what needs further data t

[2019-07-08 18:42] ttmduc opened #639 "Error importing *.raw data"
### Setup

I am reporting a problem with MZmine 2 version (*2.40.1*).
My operating system is (*Windows 10, 64-bit *).

Below I pasted the exact output of the following commands:
[code]

### Expected behavior

(*Open the *.raw data files*)

### Actual behavior

(*Error of task Opening file Z:\ITKIN-ANSARI_LAB\PROTEOMICS DATA\ProInsulin_LF\InsulinIP_LF4_IpU_Fx1.raw: java.io.IOException: System.Runti

[2019-07-08 18:52] tomas-pluskal commented on #639
The .raw file import seems to fail on some machines, not sure why that is. The easiest solution is to convert your files to mzML using MSConvert from the ProteoWizard package.

[2019-07-08 19:20] minzaroma opened #640 "Suggestion: Pre-define model peak for ADAP spectral deconvolution!"
Hey everyone,

I am very fond of MZmine and the ADAP modules for processing my GC-MS data. Unfortunately there seem to be some significant troubles with quantification! When using ADAP spec deconvolution, identical peaks in different samples will often have different model peaks assigned. The outcome is a little better when choosing "sharpness", but in the end it's still very inconsistent overall.

[2019-07-08 20:39] asmirn1 commented on #640
Hi Caro,

Actually, I've already been working on the second solution in your list, but didn't test it yet. Would you mind testing it for me if I give you a version of MZmine with the new alignment algorithm?

Alex.

[2019-07-08 20:54] minzaroma commented on #640
That would be perfect, thanks a lot!!

[2019-07-08 20:57] Annexhc commented on #640
Alex, you could also merge the changes with the most intense model peak in that branch. Maybe Caro finds it useful.
Great news that you are working on an improved alignment step. This seems to be the bottle neck of the ADAP GC-MS workflow at the moment. I would love to use it as well :-)

[2019-07-08 21:12] asmirn1 commented on #640
@Annexhc @minzaroma
In the new ADAP Aligner, I find the most common model peak among aligned features and scale other model peaks accordingly. I'll let you know when it's ready.

[2019-07-08 23:05] ttmduc commented on #639
Thanks Tomas for the response.
I tried mzML and the below error message appeared
Error parsing mzML: java.io.IOException: The device is not ready (null:-2)

[2019-07-09 08:50] dschief001 opened #641 "Downloadpage - bioconductor R code update"
Hello!

On the http://mzmine.github.io/download.html page
the:  **(Optional) Install the required R packages using the following commands in the R console:**
the code should be updated to:
[code]
I would ask for the change, because the old source(... bioclite.R) is not working anymore I think...
Unless this installation is required as stated to allow full functionality and updating to newer biocon

[2019-07-09 21:58] atostengard commented on #617
Hi Tomas,

I'm sorry it's taken me so long to respond - I was ill and there was a holiday here and also we made some changes to how the metrics work - the primary change being that an XIC is now considered a true positive if an algorithm's XIC has at least 50% of the intensity of the "ground truth" XIC's intensity - hopefully the way I worded that makes sense.

I included a screenshot of the entir

[2019-07-10 10:09] #630 closed

[2019-07-10 11:51] tomas-pluskal commented on #641
Updated, thanks for letting us know!

[2019-07-10 11:51] #641 closed

[2019-07-10 11:52] tomas-pluskal commented on #635
I would like to see the screenshot of the parameter setup dialog with the exact values that you used to run the module.

[2019-07-10 17:35] Assis77 opened #647 "erro instalação"
### Setup

I am reporting a problem with MZmine 2 version (*Please fill this in*).
My operating system is (*Please fill this in, including version number and 32-bit or 64-bit *).

Below I pasted the exact output of the following commands:
[code]

### Expected behavior

(*Please fill this in*)

### Actual behavior

(*Please fill this in, and paste any relevant exceptions, log messages, and screensh

[2019-07-10 17:38] Assis77 opened #648 "Quando tento instalar o mzmine aparece o a mensagem:"
### Setup

I am reporting a problem with MZmine 2 version (*Please fill this in*).
My operating system is (*Please fill this in, including version number and 32-bit or 64-bit *).

Below I pasted the exact output of the following commands:
[code]

### Expected behavior

(*Please fill this in*)

### Actual behavior

(*Please fill this in, and paste any relevant exceptions, log messages, and screensh

[2019-07-10 17:38] Assis77 opened #649 "Checking physical memory size... Found 4006 MB memory, 64-bit system Java version is 1.8.0_212 (64-Bit) Java maximum heap size set to 2003 MB java version "1.8.0_212" Java(TM) SE Runtime Environment (build 1.8.0_212-b10) Java HotSpot(TM) 64-Bit Server VM (build 25.212-b10, mixed mode) Erro: Não foi possível localizar nem carregar a classe principal net.sf.mzmine.main.MZmineCore Pressione qualquer tecla para continuar. . ."
### Setup

I am reporting a problem with MZmine 2 version (*Please fill this in*).
My operating system is (*Please fill this in, including version number and 32-bit or 64-bit *).

Below I pasted the exact output of the following commands:
[code]

### Expected behavior

(*Please fill this in*)

### Actual behavior

(*Please fill this in, and paste any relevant exceptions, log messages, and screensh

[2019-07-11 10:28] Althalis commented on #404
Hi all,
is there any news of this issue?
I'm running R3.4.3 and mzmine 2.40. Does not work (can't connect)...
Thanks for your help

[2019-07-11 11:27] #647 closed

[2019-07-11 11:28] #648 closed

[2019-07-11 11:28] #649 closed

[2019-07-11 12:11] tomas-pluskal commented on #617
I guess MZmine reports retention time in minutes, while your other software reports it in seconds?

[2019-07-13 06:21] xiaodfeng commented on #484
I also come across the same problem.

[2019-07-13 17:19] xiaodfeng commented on #319
I come across similar problem.

[2019-07-13 19:39] asmirn1 commented on #319
@xiaodfeng

Can you explain the problem and share a sample data file, where the ADAP deconvolution doesn't work?

[2019-07-13 20:28] RicardoMBorges commented on #319
I didn’t find a situation where it didn’t work but I cannot define a good value for the wavelets because I don’t understand its definition. So, I keep trying random values until small peaks are found and baseline is rejected as peaks.
Thanks

[2019-07-14 07:33] xiaodfeng commented on #319
@asmirn1 I got no error when use MZmine 2.40.1 on my laptop. However, there are only limited peaks identified by ADAP deconvolution module, which is suspicious.
1. The Profile dataset is obtained by UPLC-Orbitrap QE.
2. Use msconvert's peak picking function to obtain Centroid dataset. This Centroid dataset has been shared to your email: asmirno1@uncc.edu.
3. Use `mass detection` module to detect m

[2019-07-14 13:10] asmirn1 commented on #319
@xiaodfeng

I've tried running MZmine with your parameters.

First, after performing Mass Detection and ADAP Chromatogram Building, I've got 9881 EICs. I'm not sure why you are getting so few EICs. Could you compare all parameter values for Mass Detection and ADAP Chromatogram Building (see the figure below for my parameters).

<img width="817" alt="chromatogram parameters" src="https://user-image

[2019-07-15 05:29] xiaodfeng commented on #319
@asmirn1 Thank you for your quick reply.
1.  Using your parameters shown above, I also obtained 9881 EICs. The reason for my getting 1042 EICs is not selecting `MS1: Level 1` filter. Therefore, mzMine uses both MS1 and MS2 for EIC construction, several EICs will be linked together because of the integration of MS2. Or maybe you have a better explanation?
![image](https://user-images.githubusercont

[2019-07-15 16:07] asmirn1 commented on #319
@xiaodfeng

I'm glad that you were able to detect much more features in MZmine.

1. You are right. After removing MS1-only filter, ADAP Chromatogram builder produces only 1042 EICs. And because those EICs would have the MS1 and MS2 signal mixed together, the chromatogram deconvolution step didn't work properly.

@tomas-pluskal I've checked the original (deprecated) chromatogram builder. Its behavi

[2019-07-15 16:10] tomas-pluskal commented on #319
@asmirn1 It is expected behavior, the chromatograms should always be constructed from the same type of scans. It might be a good idea to display a warning if the user is using mixed MS1+MS2 scans.

[2019-07-15 16:37] asmirn1 commented on #319
@tomas-pluskal Okay. I'll display a warning.

[2019-07-16 13:18] asmirn1 commented on #319
@xiaodfeng We have updated the source code, so in the future versions of MZmine you'll see a warning message when applying ADAP Chromatogram builder to both MS1 and MS2 scans. Thank you for reporting this issue!

Alex

[2019-07-16 14:05] Annexhc opened #654 "Double click mouse event clashes in echart panel"
Hello,
the EChartPanel causes for some annoying clashes using double click mouse events. For example the double click gesture is assigned twice in the TICVisualizer, zoom history back, and open spectra. I just wanted to start a small discussion how we should change the gestures. I really like the zoom history, but I think opening e.g. a spectra with double click is as important or even more import

[2019-07-17 05:39] xiaodfeng commented on #319
@asmirn1
Great! Thank you for helping me to set the parameters properly.
Xiaodong

[2019-07-17 07:00] xiaodfeng commented on #551
I also tried to use CAMERA to remove the isotopes, as shown in the following figure:
![image](https://user-images.githubusercontent.com/25877500/61353919-38d89680-a871-11e9-8837-fb3676604418.png)
But I obtained an error:
![image](https://user-images.githubusercontent.com/25877500/61353953-4d1c9380-a871-11e9-849b-fc8552fd7c33.png)

[2019-07-17 07:19] xiaodfeng commented on #551
Problem solved! I changed from RCaller into Rserver. Then changed the R executable  path into R.exe. As shown in the attached figure.
![image](https://user-images.githubusercontent.com/25877500/61355155-08462c00-a874-11e9-94d1-f96180b3c9fa.png)

[2019-07-18 06:33] robinschmid commented on #654
Hey Ansgar,

The chart gestures can be changed for each single chart.
I have no plan how to change this problem without having a different behaviour compared to the other charts.
No one will use a tripple click

[2019-07-18 18:05] tomas-pluskal commented on #654
I agree that tripple click is not very intuitive. Maybe we could add the zoom history controls to the popup menu?

[2019-07-18 18:11] asmirn1 commented on #640
@Annexhc I've pushed the new ADAP Aligner to the master branch. You are welcome to try it out and give us some feedback, if you are interested in ADAP Aligner.

[2019-07-18 22:06] Annexhc commented on #640
Great news, I will test it tomorrow! Thanks a lot!

[2019-07-19 23:09] benbowen opened #656 "Please reduce the logging of ADAP deconvolution, "Processing peak matrix...", message"
### A small request

This isn't urgent, but hopefully its easy to address.  When run in batch mode as a scheduled job, the stderr file created has an excessive repetition of the message, "Processing peak matrix..." using ADAP deconvolution. This was in MZmine-2.39, but I've seen this behavior in older and newest versions of MZMine.

For example, a job I ran today has 242,308 repetitions of this me

[2019-07-19 23:13] asmirn1 commented on #656
Sure, let me fix it.

[2019-07-20 08:14] xiaodfeng opened #657 "Suggestion: Enable CAMERA isotope filtration after grouping"
### Setup

I am reporting a problem with MZmine 2 version (*2.40.1*).
My operating system is (*Windows 10 64-bit *).

Below I pasted the exact output of the following commands:
[code]
### Steps to reproduce the problem
1. The Profile dataset is obtained by UPLC-Orbitrap QE.
2. Use msconvert's peak picking function to obtain Centroid dataset.
3. Use mass detection module to detect masses with noise

[2019-07-22 09:53] Adafede opened #659 "Peaklist filter"
Hi,

In the peaklist filter window, would be great to be able to select with more freedom (i.e. boolean connectors)

As a example: _m/z_: *.9 to get all masses with XXX.9 _m/z_
Or RT: 2.*  to get all features with 2.XX retention time

Something really small but probably useful to many people

[2019-07-22 11:37] Angelahoerdum opened #660 "Problems with exporting data to GNPS"
### Setup

I am reporting a problem with MZmine 2 version (2.39).
My operating system is (64-bit ).

[code]
I wanted to export/submit to GNPS
I used the following settings:
![image](https://user-images.githubusercontent.com/35375992/61629573-9875de00-ac85-11e9-808e-f9751fc83ae3.png)
I made sure to use the correct mass list.

The output was as following:
](https://user-images.githubusercontent.com/

[2019-07-22 11:47] robinschmid commented on #660
Hey

Did you try to specify a full path? Right now you are only setting a file name without the directory.
Just click on the ... button to choose the file path.

And you might want to check out the latest MZmine version 2.40.1 with some updates to the GNPS export.
http://mzmine.github.io/changelog.html

Please tell me if the error still exists after trying the full path or the latest version.

Che

[2019-07-22 12:00] Angelahoerdum commented on #660
Thank you very much Robin. I will try that.
Btw I just want to let you know that the GNPS platform is really making a diffrence! Thank you so much for that! and the resent youtube videos ;)

[2019-07-22 12:37] Angelahoerdum commented on #660
Well, that worked! thak you. Would you still recomend me to use the latest mzmine version or just continue with this. Sorry for the silly quesion before!

[2019-07-22 18:53] robinschmid commented on #660
Thanks for the nice feedback. I think GNPS is a great hub that brings different tools together.
I think the latest version is always the best version.

@kaibioinfo introduced a merging function to the GNPS export. It is still very new (even to me) but @lfnothias is testing it and it seems to perform well and to produce a better output for GNPS.

Cheers
Robin

[2019-07-23 08:36] Adafede opened #661 "MS2 scans grouping/merging"
Hi,

I have a question regarding the (un-)compatibility and priority of the different modules allowing MS/MS association / merging.

As an old user, what I did was always associating my MS2 scans during the deconvolution step.

As an example:
ADAP deconvolution,
0.02Da tolerance _m/z_ ,
0.1min tolerance RT

I then obtained a peaklist, filtered MS2 only and exported for further exploration (GNPS, e

[2019-07-23 08:49] robinschmid commented on #661
Maybe you can answer some of the questions and consider them in the help file.
@kaibioinfo @lfnothias

The merging always follows this direction (ending at the point that you specify):
- merge all consecutive scans
- merge all of the same sample
- merge all of all samples

Personally, I think the grouping at the deconvolution step is a good way to assure that most people group the MS2 with the fea

[2019-07-23 08:50] robinschmid commented on #660
Can be closed

[2019-07-23 19:46] jianxinwang commented on #427
Hi, I'm trying to export a .raw data file to mzXML under 64bit Windows 10. I got "Unhandled exception in task Exporting file XXX to YYY: java.lang.OutOfMemoryError(null: -2). I have 20G memory and this should not be the problem. I did not make any change in the startMZmine script. Please help. Thanks!

Jason

[2019-07-24 00:09] tomas-pluskal commented on #427
@jianxinwang Follow here: http://mzmine.github.io/support.html#Issues

[2019-07-25 08:17] Angelahoerdum commented on #660
Thank you very much!

[2019-07-25 08:17] #660 closed

[2019-07-25 19:47] benbowen commented on #656
@asmirn1 Thanks! That was quick!!!

[2019-07-25 19:47] #656 closed

[2019-07-26 18:41] negarg opened #662 "sirius search error"
### Setup

I am reporting a problem with MZmine 2 version 2.40.1
My operating system is windows 10 version 1809 64-bit

I am clicking on single feature and then sirius structure prediction. I get the attached error
![sirius search error](https://user-images.githubusercontent.com/17147250/61973914-47325b00-afb3-11e9-9e35-82e6b0976339.PNG)

Below are the parameters used
![parameters for search](http

[2019-07-26 18:50] tomas-pluskal commented on #662
Seems like same issue as #526

[2019-07-26 18:51] tomas-pluskal commented on #662
Could you try moving your MZmine installation to C:\MZmine2 and starting from there?

[2019-07-26 18:52] tomas-pluskal commented on #662
Also please try using MZmine 2.41 and upload the complete log file after running MZmine (found in the log folder under MZmine folder).

[2019-07-26 19:10] negarg commented on #662
So, I moved it to c\MZmine2
did not help. Log file is attached.
[mzmine.log](https://github.com/mzmine/mzmine2/files/3437098/mzmine.log)

I installed version 2.41 and it gives errors while using a batch file that worked well with version 2.40. SO, I am guessing batch files between versions
![sirius version 2 41 errors with batch file](https://user-images.githubusercontent.com/17147250/61975564-7ea

[2019-07-26 19:12] tomas-pluskal commented on #662
If new parameters have been added to some modules, you might need to update those batch steps to reflect the new parameters.

[2019-07-26 19:14] tomas-pluskal commented on #662
In the log file you uploaded I don't see any error. It seem you used the SIRIUS export module instead of the SIRIUS search module.

[2019-07-26 19:54] negarg commented on #662
Hi Tomas.

Thank you! I did not use the sirius export module.. I used the search one. The screenshot below shows it is the search module
![parameters for search](https://user-images.githubusercontent.com/17147250/61977717-37b80f80-afbd-11e9-9448-0053f47a5734.PNG)

As to why the error is not in log file. I am not sure. But the error below pops up on the screen.
![sirius search error](https://user-i

[2019-07-28 15:29] tomas-pluskal commented on #662
Should be fixed in MZmine version 2.41.2. Please download it and give it a try.

[2019-07-28 15:30] tomas-pluskal commented on #526
Should be fixed in MZmine version 2.41.2.

[2019-07-28 15:30] #526 closed

[2019-07-30 19:47] tomas-pluskal opened #664 "ADAP Chromatogram Builder reports progress inaccurately"
The ADAP Chromatogram Builder reports the progress ("% done") as 100%, but afterwards it still takes a looooooooong time to finish creating the peak list. The getFinishedPercentage() method of the task should be updated to report progress more accurately.

[2019-07-30 20:06] asmirn1 commented on #664
Okay, I'll work on it.

[2019-08-01 07:32] Adafede opened #668 "Features lists not saved within the project"
Hey guys,

Could it be that because of the switch peak -> feature the features lists are not saving properly within the project? They are all written in the /tmp folder but then no way to get them back...

EDIT: Tested in on Mac OS, no problem, only on Linux platform

[2019-08-01 13:44] tomas-pluskal commented on #668
This was a bug in version 2.41, fixed in version 2.41.1 - see https://mzmine.github.io/changelog.html

[2019-08-01 13:45] #664 closed

[2019-08-01 13:45] #662 closed

[2019-08-02 05:39] #668 closed

[2019-08-05 11:58] zimmerl opened #669 "Align 2 exisitng peak lists in a new projekt"
Hello everyone

Is it possible to align two aligned peak list, generated in two different projects, against one another in a third, new project? Or to load an aligned peak list in a new/existing project?

Thanks for you help and best regards!

### Setup

I am reporting a problem with MZmine 2.40

[2019-08-06 02:54] tomas-pluskal commented on #669
Not currently possible - feel free to contribute :)

[2019-08-06 08:23] zimmerl commented on #669
OK, thanks for your answer!

[2019-08-07 20:39] atostengard commented on #617
Hi Tomas,

Took me awhile to find an answer but yes, that is where the difference in retention time values came from. Also, that impacted the way I was assigning points to the windows reported by MZMine2, so taking that into account and re-running the results, I'm now getting ~34,000 correct XIC from MZMine2, so that appears to have solved the problem. Thank you so much for your help!

Annika

[2019-08-08 04:30] tomas-pluskal commented on #617
Hi Annika,
In any case, you should always investigate the **causes** of the different results provided by different softwares, not just report the numbers. Numbers without explanation are useless, anyone can produce a ton of those.. Just my 5c.
Best,
Tomas

[2019-08-08 04:30] #617 closed

[2019-08-09 13:11] pvervliet opened #672 "MZmine 2.41.2 crash 3D visualizer"
### Setup

I am reporting a problem with MZmine 2 version 2.41.2.
My operating system is Windows 10 Enterprise.

Below I pasted the exact output of the following commands:
[code]

### Expected behavior
Import raw data (mzdata.xml)
Create 3D visualization of MS1 for auto m/z range.

### Actual behavior
MZmine closes abruptly after confirming parameters for the 3D visualization.
In the command windo

[2019-08-09 15:28] tomas-pluskal commented on #672
Thanks for the report. The current 3D visualizer is based on outdated Java3D library that is not supported anymore. We are working on a new 3D visualizer module that is based on JavaFX and will fix these issues (https://github.com/Akshaj5/mzmine2/tree/new3d/src/main/java/net/sf/mzmine/modules/visualization/fx3d). It should be finished in a few weeks.

[2019-08-11 10:43] RicardoMBorges opened #673 "Suggestion: enable “molecular fragmentation query language (MFQL)”"
Dear responsible,
Here I’m suggesting that MZMine could have an way to use the same “molecular fragmentation query language (MFQL)” (Python format text files) for ‘molecular formula’ based identification; this can be an impressive tool for database independent Dereplication. And it’s already stablished for Lipidomics. Please refer to papers:
https://journals.plos.org/plosone/article?id=10.1371/jou

[2019-08-14 08:56] fkromer opened #677 "Feature request: Docker image"
Would be great if you could provide an official Docker image for mznine2. There is e.g. [metatlas/mznine](https://github.com/biorack/metatlas/blob/master/docker/mzmine/Dockerfile) for inspiration.

[2019-08-14 15:11] benbowen commented on #677
I made the metatlas one long ago.  This is probably a better base image.
https://github.com/biorack/labkey_deploy/blob/master/metlims-nersc/app/Dockerfile
You might just need the first line.

On Wed, Aug 14, 2019, 01:56 Florian Kromer <notifications@github.com> wrote:

[2019-08-14 16:45] fkromer commented on #677
I'm not sure about this point. Both images above only consider the Java runtime dependency of mzmine2. But to enable support of all features there is the need to consider the [R dependencies](http://mzmine.github.io/download.html) as well.

[2019-08-14 17:07] tomas-pluskal commented on #677
If someone wants to volunteer to maintain an "official" MZmine docker image, I will be happy to publish the image (or link to it) on the website, or we can distribute it through this github repo. I just won't have time to maintain it myself.

Regarding the java dependency, in upcoming versions the Java runtime will be included with MZmine so that won't be an issue anymore. The R dependency will st

[2019-08-16 01:23] drstiltz opened #678 "Limit of retention time alignment"
Hello, I've got centwave data from an LC-Orbitrap, that I would like to analyze through MZmine.

Unfortunately, I'm seeing a retention time shift in my chromatogram, and the shift can reach about half a minute between the beginning and end of my LC-M run of 40 minutes.

Can Alignment code of MZmine correct such big retention time errors, and if it can, how can we be sure that it was successfully c

[2019-08-16 06:58] Annexhc commented on #678
Hi,
MZmine offers 2 solutions for your problem. You could use the RANSAC algorithm for alignment. As an alternative, you can use the retention time normalizer before alignment. This only works well if you have an internal standard in all samples.

[2019-08-16 08:58] robinschmid commented on #678
Hey,
You have centwave data from an LC-Orbitrap? Do you mean that you have converted the RAW files to mzML using MSConvert (Proteowizard) with "peak picking = centwave"?

To my knowledge centwave was designed for lowres data and it is better to use the vendor algorithm in MSConvert or you could leave out peak detection during conversion and use the MZmine mass detection/exact mass detector for pea

[2019-08-16 16:36] drstiltz commented on #678
Thanks for your comments,

Yes, I did peak picking with MSConvert, the original type of file we get is Centroid, I think.

I'm going to try to see if the shift correction would work on my samples, but most importantly, how am I going to be sure if the retention time shift was corrected successfully? Considering I have thousands of peaks in my metabolic samples, checking most of them would take imm

[2019-08-19 09:45] Biljana-ruc commented on #67
Hi

I have isntalled the newest version and have problems with getting correct identification when i import an adduct file i made it in excel and save it as cvs file. I saw one video tutorial that says that the adduct file is made by MS/MS and i have gone through all the possibilitites and can not simply find a way how to do the adduct lsit in the proggram. Any help here?

Also, maybe a stupid que

[2019-08-19 16:17] tomas-pluskal commented on #67
@Biljana-ruc Please follow the instructions here: https://mzmine.github.io/support.html#Issues

[2019-08-20 09:43] Biljana-ruc opened #679 "Show preview doesn't work on mass detection-centroid.-...."
### Setup

I am reporting a problem with MZmine 2 version (*2.41.2*).
My operating system is (* 64-bit *).

Below I pasted the exact output of the following commands:
[code]

### Expected behavior

(*Please fill this in*)

### Actual behavior

(*Please fill this in, and paste any relevant exceptions, log messages, and screenshots*)

### Steps to reproduce the problem

(*Please fill this in *)

[2019-08-20 13:19] Biljana-ruc opened #680 "chromatogram deconvolution"
Hi

How do you filter or set deconvolution to merge  similar mass peaks m/z difference max 0.5 that come at the same retention time? How do you tell that those should be considered as one signal?

Thanks for your help

[2019-08-20 14:19] asmirn1 commented on #680
If I understand you correctly, you are getting multiple peaks with similar retention times and close m/z values? If so, you might want to check parameters of the Chromatogram Builder that you used. You can try to increase m/z-tolerance in the chromatogram builder.

[2019-08-20 14:27] tomas-pluskal commented on #680
@Biljana-ruc It would be easier to provide advice if you actually showed us your data.

[2019-08-20 14:45] tomas-pluskal commented on #679
Closing incomplete report, will reopen if more information is provided

[2019-08-20 14:45] #679 closed

[2019-08-20 15:05] Biljana-ruc commented on #680
Hi both

Sorry for not being super clear. So i have a very simple chromatogram which i use to learn MZmine, so basically i know manually how to calculate and deduce signals and adducts. But when i try  do it according to most tutorial available (video and pdfs) then i get lost int he data deconvolution, basically which mode to use and which settings.  I have put all the print screens of the steps

[2019-08-20 15:12] Biljana-ruc commented on #679
Hi Tomas,

I couldn’t figure out how to import all the expected behavior but I have added a new issue and have put all the data in a word file so one can see all the steps and help me out in some if possible.

Thanks for your time

Kind regards,

Biljana Mojsoska, Ph.D.
Assistant Professor / Adjunkt
Chemistry
[ruc_logo_download_0]

Roskilde University
Department of Science and Environment/ Chemist

[2019-08-20 18:16] asmirn1 commented on #680
Hi Biljana,

![image](https://user-images.githubusercontent.com/13631120/63371453-22cb6380-c352-11e9-9811-81dab67961ca.png)

So you want to find adducts. I know that CAMERA module (Feature list methods -> Identification -> CAMERA Search) can find adducts for you. It'll group the adduct peaks together with M+H. @tomas-pluskal may be able to suggest other modules that can find adducts as well.

Abou

[2019-08-20 18:33] robinschmid commented on #680
Hi Bilijana,
Which video tutorials are you referring to?

Cheers
Robin

[2019-08-21 06:26] Biljana-ruc commented on #680
Hi Alex

Thanks for the assistance. I will try to convert the files to centroid mode and see what i get on my workflow.

The xcms on R was installed correctly and i have set the correct path and everything but it takes super long to check smthg which is visible on the document i posted. I will have to try the other modes and see if i can get better outcome.

Thanks for your time.

-Biljana

Med ve

[2019-08-21 06:29] Biljana-ruc commented on #680
Hi Robin

There are few videos on youtube on LC-MS data processing  and library generation that i have seen and tried to learn something.

In addition, have gone through all the tutorials available including the ADAP one which is a bit more detailed.

If you have something more useful feel free to share.

Thanks

-Biljana

Med venlig hilsen
Biljana Mojsoska
Adjunkt
Telefon:+4546743645
Institut for

[2019-08-21 12:26] dschief001 opened #681 "Mzmine 2.41.2 not starting"
### Setup

I am reporting a problem with MZmine 2 version 2.41.2.
My operating system is Windows 10, 64-bit.

Below I pasted the exact output of the following commands:
[code]

### Expected behavior

Start Mzmine and imdiately open the window,

### Actual behavior

It takes like forever to load the java mzmine interface.
[code]
14:25 -> nothing more has happened.

### Steps to reproduce the proble

[2019-08-21 12:35] dhxsy1994 commented on #450
the jdk bugs appears on my 1024 processors machine

[2019-08-21 12:37] dschief001 commented on #681
unzipping the downloaded file again fixed the issue, at least when starting for the first few times, 'll see if this unusual behaviour comes back

[2019-08-21 12:37] #681 closed

[2019-08-21 15:03] fdiversion opened #682 "Resquest: Spectra sum"
Is it possible to generate a summed up spectrum over a RT or scanrange?

[2019-08-21 19:05] robinschmid commented on #682
To my knowledge, it is not supported. How do you intend to use it?

It would be nice though... You are invited to contribute. It is very easy to add new methods to MZmine.

Cheers
Robin

[2019-08-21 19:43] tomas-pluskal commented on #450
Have you tried a newer JDK (version 12)?

[2019-08-21 19:43] robinschmid commented on #680
Do you want to create a spectral database?
I have developed a spectral DB creation module in MZmine and there are some videos on youtube.

I have also developed a new adduct finding approach in MZmine. Sadly, it is not in the main branch so far. There is a special MZmine version for this though. Maybe you refer to my Ion Identity Networking videos on this?

Cheers
Robin

[2019-08-22 12:24] asmirn1 commented on #680
Hi Robin,

What branch your new adduct funding approach is on? That would be a nice addition to MZmine.

Alex.

[2019-08-22 18:18] fernie0341 opened #683 "Centroid scans being confused as profie"
### Setup

I am reporting a problem with MZmine 2 version (2.41.2).
My operating system is (64-bit).

Below I pasted the exact output of the following commands:
[code]

### Expected behavior

(*I am trying to perform MS1 and MS2 mass detection on my dataset. The files were generated using a Q-Exactive and converted to mzXML format using the msconvert gui. My MS1 noise level is 2.0E5 and my MS2 noi

[2019-08-22 18:32] tomas-pluskal commented on #683
Thanks for the report, I just fixed this problem. The fix will be included in the next MZmine release.

[2019-08-22 19:41] tomas-pluskal commented on #683
Try using just-released MZmine 2.42.

[2019-08-22 19:42] fernie0341 commented on #683
I will give it a try. Thanks for the quick response

[2019-08-22 21:00] fernie0341 commented on #683
I just tested it and I am no longer getting the error. Thanks for the help

[2019-08-22 21:05] #683 closed

[2019-08-22 22:20] #620 closed

[2019-08-23 07:43] dschief001 opened #684 "Gridmass help"
### Setup

I am reporting a problem with MZmine 2 version 2.41.2.
My operating system is Win10 64-bit .

### Expected behavior

When Gridmass is opened, and the help button clicked it should open the *GridMass - 2D peak detection* page, instead the
### Actual behavior
TIC/XIC visualizer is opened.

### Steps to reproduce the problem

Open the Gridmass peak detection dialog and click on Help.

Than

[2019-08-24 14:17] Chemistophe opened #685 "Issue with Isotopic peaks grouper"
Hello,

I don't understand why after the isotopic peaks grouping function set up with with these parameters:

<img width="682" alt="Capture d’écran 2019-08-24 à 10 10 14" src="https://user-images.githubusercontent.com/54418294/63638529-70e4ad80-c657-11e9-9762-ed7d2ed023d4.png">

I still have many way too isotopic peaks, in fact my peak list decreases only from 7353 to 7350?!?

<img width="1394"

[2019-08-25 15:26] tomas-pluskal commented on #685
Hi @Chemistophe
The peaks that you show have identical m/z value. Therefore, they are not isotopes, but rather results of incorrect feature detection. The isotope peak grouper module will only group peaks that are part of an isotope distribution (increasing number of neutrons).

You probably need to fix the parameters of your feature detection workflow.

[2019-08-25 15:28] tomas-pluskal commented on #684
I cannot reproduce this problem, for me the GridMass help page opens.
Can you try to start MZmine again, go to GridMass and click Help (without taking any other action)?
Does this problem happen for you only with the GridMass module, or also with other modules?

[2019-08-29 01:18] tomas-pluskal opened #687 "Isotope pattern preview window crashes"
The Isotope pattern preview window seems to have difficulty with simple chemical formulas like "C1":

[code]

[2019-08-29 01:20] tomas-pluskal commented on #687
@SteffenHeu

[2019-08-29 13:24] asmirn1 opened #689 "Cannot compile with Gradle"
### Basic information

* My operating system: Mac
* My MZmine version: devel

### What happened

Cannot compile the project. Here is the output:

It says that class `ImmutableList` from Guava doesn't have method `toImmutableList()`. It seems that Maven uses Guava version 20, while Gradle uses the latest Guava, version 28. Maybe that's the problem.

[2019-08-29 13:38] tomas-pluskal commented on #689
Hi Alex,

That's strange. What does your `java -version` say?

Tomas

[2019-08-29 13:53] SteffenHeu commented on #687
I will look into it as soon as I can. I'm sure it's a simple check that fails, so it should be a quick fix. I am having trouble setting up java 12 and and gradle though and I am leaving for a research internship tomorrow, so I'm quite busy at the moment.
I am confident, that i can do a fix within the next couple of days, though.

[2019-08-29 14:09] tomas-pluskal commented on #689
The `toImmutableList()` function has been in Guava since version 21: https://guava.dev/releases/snapshot-jre/api/docs/com/google/common/collect/ImmutableList.html#toImmutableList--

You can also try running `./gradlew --scan` and when that's done, send me the link to the build scan website.

[2019-08-29 14:13] asmirn1 commented on #689
I'm using OpenJDK 12.

Here a link to the scan: https://scans.gradle.com/s/gknuwstha2tx2

[2019-08-29 14:13] asmirn1 commented on #689
Maybe, I'm using the old version of Guava somehow. I'm trying to figure out why.

[2019-08-29 14:15] tomas-pluskal commented on #689
Check your `/Library/Java/Extensions` and `~/Library/Java/Extensions` folders.

[2019-08-29 14:25] tomas-pluskal commented on #689
Can also try running `./gradlew --refresh-dependencies`

[2019-08-29 14:26] asmirn1 commented on #689
`/Library/Java/Extensions` is empty. `~/Library/Java/Extentions` doesn't exist.

This is a new build scan: https://scans.gradle.com/s/ugz5jtzl74bek

It shows something interesting, but I'm not sure what it means.
<img width="882" alt="Screen Shot 2019-08-29 at 10 24 35 AM" src="https://user-images.githubusercontent.com/13631120/63948814-56d81000-ca47-11e9-8a61-4bc448ca184c.png">

[2019-08-29 14:27] tomas-pluskal commented on #689
The second build scan looks correct to me - some of the dependencies declare transitive dependencies on older versions of guava, but those are all overridden by version 28-jre, which is correct.

[2019-08-29 14:29] asmirn1 commented on #689
`./gradlew --refresh-dependencies` didn't help. Same error.

[2019-08-29 14:30] asmirn1 commented on #689
I'll try to google more about this issue.

[2019-08-29 14:31] tomas-pluskal commented on #689
Try removing the `mavenLocal()` repository from the `build.gradle` file and see if that changes anything.

[2019-08-29 14:33] tomas-pluskal commented on #689
Also you can try running `./gradlew clean` first.

[2019-08-29 14:36] asmirn1 commented on #689
Removing `mavenLocal()` and running `gradlew --refresh-dependencies` helped! It compiles for me now.

[2019-08-29 14:38] asmirn1 commented on #689
I guess, Gradle was using the old version of Guava for some reason.

Thank you for helping me!

[2019-08-29 16:09] #689 closed

[2019-08-29 18:29] Chemistophe commented on #685
Thanks for your very helpful answer!
Also I found useful the Duplicate peak filter function to deal with my issue.

[2019-08-29 19:52] minzaroma opened #690 "Issue with local DB search"
* My operating system: Windows Server 2012 R2 Standard
* My MZmine version: 2.41

Thanks for all the cool new functions in the recent update!
I encountered one issue and have another feature request.

1) Issue: I tried to use the new function to run a local DB search for a specific peak in the results table. Unfortunately, this caused the program to crash completely so that all previous work is go

[2019-08-30 06:38] Annexhc commented on #690
Hey minzaroma,
glad you like the additions. Does the database matching worked with one of the other modules, using similar settings (Feature list or in the scan visualizer)? I am asking because we need to find out what the problem is, your settings, the database file, or the feature list row module. Can you also send a screenshot of your settings?
Regarding your feature request: It would be better

[2019-08-30 09:28] minzaroma opened #691 "Feature request: RI (Kovats index)"
NIST and many other databases denote the Kovats retention index (RI) for each analyte to assist in compound identification. As it was already requested by another user here, I'll just describe it quickly in case it is unknown:
RI is a very established method which uses a compound's position relative to an alkane ladder.
Whenever any settings are changed for a new sequence, an alkane mix is simply

[2019-08-30 10:12] minzaroma commented on #690
Ok, now I tried it again and this time it worked, so maybe it was only bad luck, otherwise I'll try to get some more info next time it happens. ;o)
I put the other issue in a new thread.

[2019-08-30 10:43] Annexhc commented on #690
Very good, this one can be closed.

[2019-08-30 21:57] #690 closed

[2019-09-02 08:33] Biljana-ruc commented on #680
Hi again

1.       Yes , spectral database would be great and if you have the links please feel free to share them.

2.       For the adducts, yes it is the video as well , but I think that if I solve the problem of generating the nice list of spectra then the imported adduct list I have made myself should work fine.

Bottom line, the only struggle is to make sure that I can import the correct dat

[2019-09-02 23:34] rendabing425 opened #693 "Issue with data export"
Hi,

After data processing, when
some errors were reported

[2019-09-02 23:36] rendabing425 commented on #693
sorry for sending the uncompleted message.

[2019-09-02 23:36] #693 closed

[2019-09-03 02:23] tomas-pluskal commented on #672
Fixed in MZmine version 2.50

[2019-09-03 02:23] #672 closed

[2019-09-03 05:06] rendabing425 opened #694 "Issue for data export"
[Issue for data export.docx](https://github.com/mzmine/mzmine2/files/3567817/Issue.for.data.export.docx)
### Basic information

* My operating system: windows 10
* My MZmine version:  2.42

### What happened

After data processing, an error was reported when I try to exported the aligned data by using Export for SIRIUS, the error is as following. Can someone help me to handle this problem?

[2019-09-03 11:46] robinschmid commented on #694
It is a problem inside the MS/MS merging function.
Can you also send a snap of these settings? (press Setup button)
MZmine 2.50 was released - you could check with this version, although I do not think that the SIRIUS export was changed.

![image](https://user-images.githubusercontent.com/10366914/64170657-f3881c80-ce50-11e9-849a-68d5e6f4d746.png)

[2019-09-03 12:10] TilimoNED opened #695 "Error when importing Waters raw files"
### Basic information

* My operating system: Windows 10
* My MZmine version: Version 2.50

### What happened

I tried to import multiple raw files created by a Waters Q-Tof. But as soon as I started the import process I got the following message:

"java.io.IOException: Cannot run program
D:\MZmine-2.50-Windows\MZmin-2.50-Windows\lib\vendor_lib\waters\WatersRawDump.exe
CreateProcess error=2, Syste

[2019-09-03 12:46] tomas-pluskal commented on #695
Oops, it seems I forgot to include the vendor libraries in the new build system.

Try with this updated build:
https://www.dropbox.com/s/p4r2msm1v7dbkuq/MZmine-2.50.1-Windows.zip?dl=0

[2019-09-03 14:47] TilimoNED commented on #695
Hi Tomas,

Unfortunately I still get the same message. However, I haven’t deleted the older version, so I will try that as well and see what happens. Thank you for helping.

[2019-09-03 15:31] tomas-pluskal commented on #695
Sorry, that was my bad (not enough sleep). Second attempt:
https://www.dropbox.com/s/7dau36pyh61avzh/MZmine-2.50.2-Windows.zip?dl=0

[2019-09-03 16:59] TilimoNED commented on #695
It worked! Thank you for the quick response and solution

[2019-09-03 19:43] tomas-pluskal commented on #695
Fixed in version 2.51

[2019-09-03 19:43] #695 closed

[2019-09-03 19:45] tomas-pluskal commented on #694
Please try using MZmine version 2.51, which I just released.

If the problem persists, please provide more information as @robinschmid asked, and also upload your MZmine project file so we can test it.

[2019-09-03 20:14] tomas-pluskal commented on #684
Should be definitely fixed in MZmine 2.50+, because the help system was changed.

[2019-09-03 20:14] #684 closed

[2019-09-03 20:15] #623 closed

[2019-09-04 01:47] rendabing425 commented on #694
@robinschmid @tomas-pluskal  As you suggested, MZmine 2.51 has been tried. However, the problem is sitll existed.
![TR5KO{@WR1{%{PHY328OT(L](https://user-images.githubusercontent.com/54423944/64219443-1d484e80-cef8-11e9-8064-70978f843b9a.png)

[2019-09-04 01:54] tomas-pluskal commented on #694
Please upload a project file that demonstrates the issue

[2019-09-04 02:20] rendabing425 commented on #694
OK. The attched zip file is my project.

[2019-09-04 02:40] rendabing425 commented on #694
@tomas-pluskal  Since the poject cannot be successfully uploaded, I sended it to you by email (plusik@gmail.com). Thank you for your kind help.

[2019-09-04 17:31] CapriniEvaristo commented on #695
Hi Tomas, I am trying to import the Thermo raw data, using the latest version of MZMine2 (2.51) and I am having the same problem reported above. Could you helpme?

[2019-09-04 18:53] katherinemaloney opened #696 "feature finding error using Waters DDA data"
### Basic information

* My operating system: Windows
* My MZmine version: 2.41.2

### What happened

* I'm trying to do use MZmine2 to generate a feature quantification table for use to do [feature-based molecular networking](https://ccms-ucsd.github.io/GNPSDocumentation/featurebasedmolecularnetworking-with-mzmine2/). I'm able to do the mass detection step, but when I try to use the ADAP chromato

[2019-09-04 19:40] Annexhc commented on #695
Quick work around: Download MSConvert and convert to mzML.

[2019-09-04 19:53] CapriniEvaristo opened #697 "Error when importing Thermo raw files"
### I can not import Thermo raw files

* My operating system: windows 10
* My MZmine version: 2.51

### When I select the data appears an error message: identical another colleague has reported for Waters raw files this week.

![image](https://user-images.githubusercontent.com/54907762/64286574-ca888a00-cf2b-11e9-9e6e-480696078df9.png)
![image](https://user-images.githubusercontent.com/54907762/64

[2019-09-04 20:06] asmirn1 commented on #696
Hi,

Could you upload and share an mzML data file?

First, we probably should understand why your data has two sets of MS1 scans.

[2019-09-04 20:07] CapriniEvaristo commented on #695
But the site says that it accepts raw data from thermo...

[2019-09-04 21:15] Annexhc commented on #695
Yes, and it will work again. If you really need to analyze Thermo raw files without conversion to mzML you can try an older version, 2.42 should work. We are optimizing the back end of MZmine at the moment, sorry for the error.

[2019-09-04 21:50] katherinemaloney commented on #696
Hmm. I'd like to but I can't quite figure out how... Tried creating a repository, but it said the file was too big. Is there another way to share it?

[2019-09-04 21:56] asmirn1 commented on #696
You can upload file on Google Drive or Dropbox and post a link here

[2019-09-04 22:07] katherinemaloney commented on #696
Thanks for the speedy reply. Here goes: https://drive.google.com/file/d/14zec5OsCVI7ba73ErpKsFlWux9oZ-M61/view?usp=sharing

[2019-09-05 01:04] tomas-pluskal commented on #695
@CapriniEvaristo I think you are probably experiencing a different problem. The problem that was described in this issue has been fixed in version 2.51. Please file a new issue, include all the relevant error messages and log files, and double-check whether the raw file import works for you using older versions of MZmine.

[2019-09-05 01:07] tomas-pluskal commented on #697
Yes, some people have reported a similar error in the past. To be honest, I don't know why it happens, it seems to happen only on some Windows systems but not on others. Try installing MSConvert from the Proteowizard package, this error might disappear after you install MSConvert. Or maybe not. In any case, you can use MSConvert to convert your data to mzML.

[2019-09-05 07:39] pvervliet opened #698 "Unhandled exception in Predict Molecular Formula"
### Basic information

* My operating system: Windows 10 Enterprise - Version 1903 - OS build 18362.113
* My MZmine version: 2.51

### What happened

After I have done all my preprocessing (deconvolution, deisotoping, alignment, gap-filling and filtering) I wanted to predict a molecular formula for some of the features in my final feature list.

The parameters for the feature I want to generate a

[2019-09-05 14:23] asmirn1 commented on #696
I've looked into your file, and the order of scans in the file is different from their order in MZmine.

Scans in the file go:
1. MS1 at 0.020316666 min,
2. MS1 at 0.026316667 min,
3. MSn at 0.0292333327 min,
4. MSn at 0.0317333341 min,
...

So, my guess is that MZmine doesn't read your file correctly. What tool did you use to convert your raw data into mzML? Also, could you try to convert your ra

[2019-09-05 14:27] asmirn1 commented on #696
@tomas-pluskal
I saw some other recent issues with importing raw data files. Can this be related to those issues?

[2019-09-05 14:29] tomas-pluskal commented on #696
@asmirn1 Not sure which issues you are referring to.

This could be a bug in the jmzml library. We need to do some testing to find out where it comes from.

[2019-09-05 15:01] tomas-pluskal commented on #698
Does this happen with all peaks or only some?

[2019-09-05 15:39] asmirn1 commented on #696
Sure, I'll test it.

[2019-09-05 19:13] katherinemaloney commented on #696
Thank you for checking that. I've asked my collaborator to send me the raw data files. I'll try converting again from those.

[2019-09-06 13:55] tomas-pluskal commented on #697
It seems there is a new tool now that allows reading Thermo Raw files also on Linux and Mac via Mono: https://github.com/compomics/ThermoRawFileParser

I will try to switch MZmine to using this tool in near future.

[2019-09-06 15:22] asmirn1 commented on #696
@tomas-pluskal

I've found a problem with the mzML file. Its scan numbers are not unique.

This file contains 1660 scans. Each scan has an id-attribute. The first few ids are:
- Scan with id="function=5 process=0 scan=1"
- Scan with id="function=1 process=0 scan=1"
- Scan with id="function=2 process=0 scan=1"
- Scan with id="function=3 process=0 scan=1"
...
- Scan with id="function=3 process=0 sca

[2019-09-06 15:28] tomas-pluskal commented on #696
Thanks for looking into this, Alex!

Yes, I agree with the solution you propose.

[2019-09-06 15:41] asmirn1 commented on #696
Okay, I'll implement these changes.

[2019-09-06 18:37] katherinemaloney commented on #696
Just revealing my ignorance here, but does this mean there is something I can still do with my existing files? Or do you still recommend I try reconverting the raw files? (Wondering in part because I haven't yet received the raw files from my collaborator...)

[2019-09-06 20:05] asmirn1 commented on #696
The fix for this bug will be included in the next official release of MZmine. For now, I can give you a developer version of MZmine.

Are you running MZmine on Windows or MacOS (Linux)?

[2019-09-06 20:44] katherinemaloney commented on #696
Windows. Thank you!

[2019-09-06 22:24] asmirn1 commented on #696
@katherinemaloney
Try using this MZmine: https://drive.google.com/file/d/1mK9sGaDyl4qeOcK7OffPT75LmluLPsoA/view?usp=sharing

It should be able to read your files.

[2019-09-09 13:18] tomas-pluskal commented on #698
I have not been able to reproduce this bug with MZmine 2.51:

<img width="536" alt="Screen Shot 2019-09-09 at 09 17 33" src="https://user-images.githubusercontent.com/1796692/64534088-c4efc300-d2e2-11e9-8abe-8975dcefacf9.png">

Worked fine:

<img width="724" alt="Screen Shot 2019-09-09 at 09 17 46" src="https://user-images.githubusercontent.com/1796692/64534074-c0c3a580-d2e2-11e9-930c-8d4e7aa0ac17

[2019-09-09 18:02] tomas-pluskal commented on #687
Fixed in version 2.51

[2019-09-09 18:02] #687 closed

[2019-09-09 19:44] tomas-pluskal commented on #694
The problem in your project is that you have mixed polarity (positive and negative) scans, while you performed the mass detection only on your negative scans. MZmine is currently not very smart when it comes to handling datasets that have mixed polarity. My recommendation is to first use the Crop filter (Raw data methods -> Filtering -> Crop filter and select only negative scans, that will create

[2019-09-10 04:46] rendabing425 commented on #694
@tomas-pluskal Thank you for your helpful suggestion.

[2019-09-10 07:30] AmmarTahir2019 opened #701 "Error of task Detecting chromatograms in ,,,"
### Basic information

* My operating system: Win10
* My MZmine version: 2.5.1

### What happened

* Error of task Detecting chromatograms in CDF, RAW or MZXML (these extensions I have tried)
1) I do perform mass detection first and it is successful
2) when i want to perform ADAP chromatogram builder I get the error message (below)

Any advice from your side? Thanks a lot for the efforts :-)

![im

[2019-09-10 07:34] AmmarTahir2019 commented on #701
here are the parameters:

![image](https://user-images.githubusercontent.com/55129645/64593322-30eb2d80-d3ae-11e9-82e8-1c5bd7d8b594.png)

[2019-09-10 12:30] asmirn1 commented on #701
Could you share parameters for mass detection?

[2019-09-11 11:48] Annexhc commented on #540
Hey jkmunk,
I have added MS/MS rules from the LipitMatch project to the MZmine Lipid Search module. You can try that as well. If you need any other lipid class just let me know, I can quickly add it to the database.
best wishes,
Ansgar

[2019-09-11 14:59] jeremykoelmel commented on #540
Thank you Ansgar, in collaboration with Hiroshi we should be doubling further the database soon! I'll keep you updated when we add libraries and rules. I assume you added oxidized lipids we have as well? Looking forward to the release with the new rules embedded.

The only difference (theoretically) between Lipid Search and the LipidMatch Standalone will be:
1) LipidMatch ranks hits for mixed spec

[2019-09-11 19:04] tomas-pluskal commented on #701
@AmmarTahir2019 I think the error message that you are getting is quite self-explanatory, isn't it?
**Scan HS2.mzxml number 1 does not have a mass list "masses 5"**

[2019-09-12 06:21] AmmarTahir2019 commented on #701
Thank you for your reply! Here are the parameters, the original file is thermo RAW, but I could not open it with mzmine, so I converted it to mzxml using Proteowizard.

![image](https://user-images.githubusercontent.com/55129645/64758866-fca27900-d535-11e9-91fe-afce05583df3.png)
![image](https://user-images.githubusercontent.com/55129645/64758880-0926d180-d536-11e9-86c2-54a28bf3b8c4.png)

![image]

[2019-09-12 06:22] AmmarTahir2019 commented on #701
Thank you for your reply! Not really to me? I am using mzmine for the first time, I would be grateful if your could point out my mistake! Thank you in Advanced.

[2019-09-13 19:22] tomas-pluskal commented on #701
@AmmarTahir2019 Like Alex said, the problem is most likely in your mass detection step. You can verify your generated mass lists by opening the scan tree in the main window's "Raw data files" section:

<img width="338" alt="Screen Shot 2019-09-13 at 15 21 10" src="https://user-images.githubusercontent.com/1796692/64888941-22b14180-d63a-11e9-8ba8-3fcab361df85.png">

(in this case, "citrusMS1" is th

[2019-09-16 10:46] wzh244 opened #704 "How to process MS/MS data by MZmine?"
Hi,

My MZmine 2 version 2.40.1
My operating system is 64-bit.

I want to know how to process MS / MS data through MZmine? What are the general steps involved in batch mode? Any help is greatly appreciated.

Best,
wzh244

[2019-09-16 10:58] Annexhc commented on #704
We need more information, what is your target?

[2019-09-16 11:40] robinschmid commented on #704
Quick response from my vacation.

You can assign all MS/MS scans to the corresponding features during feature deconvolution or how I prefer it: select a feature list and use feature list methods/filters/group MS/MS scans with features (hope the name of the module is correct ;) )

The second way allows you to change the isolation width and retention time tolerance.

Now you can use many different M

[2019-09-16 12:30] AmmarTahir2019 commented on #701
Thank you all for your support! without applying a filter the procedure works flawless! When I choose the polarity then issues start to arise. I guess it is a problem of my raw files! Anyhow , Thank you all for your replies and help!

[2019-09-16 12:30] #701 closed

[2019-09-16 12:32] wzh244 commented on #704
When processing  MS1 data, we use the following sequence as shown.

![QQ截图20190916202634](https://user-images.githubusercontent.com/55376549/64957934-982e4380-d8c0-11e9-9bb2-2aefb48c58e5.jpg)

What sequences are needed to process MS2 data with batch mode? My target is to find out which sequences are needed in batch mode to process MS2 data?

[2019-09-16 12:35] tomas-pluskal commented on #704
@wzh244 "Process MS2 data" can mean many different things. If you don't explain clearly what is your goal, we cannot give you any advice.

[2019-09-16 13:03] #540 closed

[2019-09-18 12:59] adelabriere opened #705 "Error while running ADAP peakpicking in batch mode on Linux cluster"
* My operating system: Linux centOS 7 on a cluster
* My MZmine version: 2.51 (Bug does not happen with version 2.39 and happens with version 2.41)

I run in parallel multiple peakpicking using ADAP in batch mode on a cluster to process a large number of files. The batch files are generated programmatically. This works with MZmine version 2.39 but not in version 2.51.
The batch step are the followi

[2019-09-18 13:03] tomas-pluskal commented on #705
Please attach the batch file, thanks!

[2019-09-18 13:07] adelabriere commented on #705
Here it is :
[code]

[2019-09-20 01:34] tomas-pluskal commented on #705
I don't think this batch file is valid for recent versions of MZmine. You should try to load this batch into the latest MZmine version, double-check all parameter values (especially the "Raw data files" parameter of all steps), and then save it as a new batch file. I bet it will work afterwards.

The main issue is that your batch file contains this:
[code]
while it should actually be this:
[code]

[2019-09-20 07:10] wzh244 opened #708 "Issue about a processing workflow for MS/MS data"
Basic information
My operating system: windows 7    64bit
My MZmine version: 2.51

Hello,

I have a problem when use the following workflow to process LC-MS/MS data.
![QQ截图20190920144804](https://user-images.githubusercontent.com/55376549/65306148-4be04d80-dbb7-11e9-930d-510ebd001222.jpg)
Detailed parameters for each step are as follows:
![QQ截图20190920145018](https://user-images.githubusercontent.

[2019-09-20 07:46] adelabriere commented on #705
Thanks for pointing that out,

I ll correct this and test it today.

[2019-09-20 12:51] adelabriere commented on #705
It is working perfectly fine and faster than before,

Thanks a lot !

[2019-09-20 13:00] #705 closed

[2019-09-20 13:04] tomas-pluskal commented on #708
You need to run the mass detection module (menu Raw data methods - Feature detection - Mass detection) on all your scans to generate the mass list. Then try running the SIRIUS module again.

[2019-09-20 13:06] tomas-pluskal commented on #708
Also you should be aware that the MS/MS peaklist builder is a very old module that hasn't been maintained much. It might still work for you, but double check whether you are getting the results that you want.

If you have data-dependent MS/MS scans (i.e., both MS1 and MS2 in your files), it is probably better to use the standard feature detection workflow (mass detection, chromatogram builder, chr

[2019-09-21 06:06] tsufz opened #709 "Make RT and m/z windows customisable within users library for annotations"
MZmine uses fixed tolerances for example for the RT window or the m/z window. However, not all compounds behave similarly. A more flexible setting of the windows by a customisable library (at least for compounds which will be annotated) would be nice. The library should include a field for the tolerances of at least the m/z and RT windows, but maybe more.

[2019-09-21 06:07] tsufz commented on #709
For sure, it is no easy question where to start with the customisation of peaks. Could be also useful before peak alignment, because some peaks might not align because the conditions are to strict. On the other hand, if the condition is to loose, wrong alignment / annotation might occur.

[2019-09-21 08:09] wzh244 commented on #708
@tomas-pluskal
Thank you very much for your advice! I will try!

[2019-09-22 18:13] photocyte opened #710 "Export Spectra to Spectra file appending instead of replacing"
### Basic information

* My operating system: MacOS 10.14.6
* My MZmine version: 2.5.1

### What happened

From an MS2 view window, when right clicking and going to Export spectra to spectral file, and exporting an msp file, if the file is exported to an existing file, it concatenates onto the existing file (e.g. appends).  The export should probably replace, instead of appending?

[2019-09-22 22:28] tomas-pluskal commented on #710
Appending is useful in case someone is building a library of spectra by exporting them one by one. But perhaps we should add a checkbox to select the desired outcome (replace/append).

[2019-09-27 00:48] Mingruis opened #711 "Visualization -- Van Krevelen Diagram"
### Basic information

* My operating system: 64-bit operating system, x64-based processor
* My MZmine version: MZmine 2.51

### What happened: After I have done all my preprocessing (Mass detection, FTMS shoulder peaks filter, Chromatogram builder, Chromatogram smoothing,  Chromatogram deconvolution, Isotopic peaks grouper, RANSAC aligner, m/z and RT gap filter, Duplicate peak filter and formula

[2019-09-27 07:29] Annexhc commented on #711
Hi Mingruis,
I have just checked the module for the current version with another dataset and it seems to work fine. Anyway, can you upload your mzmine project so I can test it (Dropbox, Google drive etc.)? I am traveling today, I will check it tomorrow. You can send me the link via email (ansgar.korf@wwu.de).

[2019-09-30 13:57] RicardoMBorges commented on #673
A preview tutorial video for the use of LipidXplorer database-independent compound identification.
https://youtu.be/DMhArUgS6rE

Thanks

[2019-10-01 16:59] DanWUR opened #712 "Error after extracting data"
### Basic information

* My operating system: Windows 10 64 bit
* My MZmine version: 2.51

### What happened

Hallo everyone,
after I have processed my data and did the alignment step, the following error came up:

 Unhandled exception io.github.msdk.MSDKRuntimeException: No MS/MS scans exported. while processing task Exporting GNPS of feature list(s) [Aligned feature list filtered] to MGF file(s)

[2019-10-01 18:11] tomas-pluskal commented on #712
Could you upload your project to Dropbox or Google Drive so we can reproduce the issue?

[2019-10-02 04:01] hsiowa2 opened #713 "Issues about applying CAMERA after alignment..."
Hi,

I want to report an issue about applying CAMERA after the alignment of deconvoluted chromatograms.

The CAMERA can be applied to the raw chromatograms, but when I try to apply it to "Aligned feature list", an error appears saying that, "CAMERA can only process feature lists for a single raw data file, i.e. non-aligned feature lists."

On the other hand, if I apply CAMERA to chromatograms firs

[2019-10-02 07:39] DanWUR commented on #712
Hallo Tomas,

thank you for helping me. Please find the google drive link below:

https://drive.google.com/file/d/1S6Ypkt1B18ZuTmxWmT6s3t8Tzus5iYTh/view?usp=sharing

[2019-10-02 12:28] asmirn1 commented on #713
In theory, it should be possible to apply CAMERA to an aligned feature list. I'll take a look at this issue.

[2019-10-03 14:44] asmirn1 commented on #713
@tomas-pluskal I've noticed MZmine has module "Adduct Search". But the problem with "Adduct Search" is that it seems impossible to specify adducts like 2M+H, 2M+Na, 2M+NH3, etc, i.e. adducts with a factor in front of M.

Do you think it's better to improve "Adduct Search" instead of trying to fix CAMERA integration?

Does MZmine have any other options for searching adducts?

[2019-10-03 16:22] Annexhc commented on #713
Hey Alex, Robin has implemented a better adduct search function in his ion identity networking branch. Maybe Robin can merge this branch

[2019-10-03 16:36] asmirn1 commented on #713
That would be great! It seems MZmine is really missing a good module for an adduct search. @robinschmid

[2019-10-03 17:55] asmirn1 opened #714 "Couldn't compile MZmine/MSDK"
### What happened

I couldn't compile MZmine on a new machine (OS Windows). Has anyone else had problems with compiling MZmine or MSDK recently?

This is the output:

[2019-10-03 18:01] tomas-pluskal commented on #714
It says `Could not HEAD 'https://jitpack.io/org/json/json/1.0/json-1.0.pom'. Received status code 522 from server: Origin Connection Time-out` but my connection to https://jitpack.io/org/json/json/1.0/json-1.0.pom works fine (gives code 404 file not found which is okay).

[2019-10-03 18:19] asmirn1 commented on #714
When I follow https://jitpack.io/org/json/json/1.0/json-1.0.pom in my browser, I get code 404 as well. But why this is okay? It seems that the compiling stops because it cannot find `org.json:json:1.0`

[2019-10-03 18:21] tomas-pluskal commented on #714
It is fine that the json artifact is not found in the jitpack repository. It should be found here:
https://bio.informatik.uni-jena.de/repository/libs-release-oss/org/json/json/1.0/json-1.0.jar

[2019-10-03 18:31] asmirn1 commented on #714
Okay, it seems that moving
[code]
in front of jitpack.io has solved this issue.

[2019-10-04 11:37] robinschmid commented on #713
Mid. November, I will be in Boston to work with Tomas on the integration of the new modules.
Until now ion identity networking is only available in a separate release:
https://github.com/robinschmid/mzmine2/releases

See youtube playlist here:
https://www.youtube.com/playlist?list=PL4L2Xw5k8ITyxSyBdrcv70LDKsP8QNuyN

Basic workflow vs a full workflow:
https://www.youtube.com/watch?v=ZspRtdinXBM&lis

[2019-10-04 12:19] robinschmid commented on #712
Hey.
Sorry for the late response.

What MS instrument do you use? How do you convert the data?
I would recommend to use msconvert (part of ProteoWizard).
See GNPS workflow here:
https://ccms-ucsd.github.io/GNPSDocumentation/featurebasedmolecularnetworking-with-mzmine2/

**Problem**
MZmine seems to be unable to find the scan polarity. Therefore, your chromatograms and features are zig-zagged. I was

[2019-10-04 12:33] DanWUR commented on #712
Hi Robin!

Thank you! At least I know now that it is not my fault...

I have used a Q-Exactive system with alternating positive and negative polarity. I can still use the raw files and convert them to a mzmine2 compatible format and try the peak picking again. Is that what you mean?

Greets from The Netherlands

Daniel

[2019-10-04 12:36] tomas-pluskal commented on #712
Hi Daniel,

Try using the Crop filter (menu Raw data methods - Filtering) to split each of raw data file into two files, one that only contains positive polarity scans, and one that only contains negative polarity. Then process those two polarities separately.

[2019-10-04 12:37] tomas-pluskal commented on #712
Also Daniel, did you actually collect MS/MS data?
You won't be able to export to GNPS if you don't have MS/MS scans.

[2019-10-04 12:38] robinschmid commented on #712
Right, you have already mentioned that you use a Q-Exactive.
1. download msconvert from ProteoWizard
2. convert all .RAW files to .mzML (if you have a lot of files, or wish to reduce the file size: Use the peak picking option in msconvert to convert profile spectra to centroid)
3. Import to MZmine
4. Apply crop filter to split files into positive and negative scans (like Tomas explained)
5. Do fea

[2019-10-04 12:41] asmirn1 commented on #713
Thank you, Robin!

Your youtube videos are very helpful. Since you are going to merge your modules to the official MZmine soon, I guess I won't make any changes to either CAMERA or Adduct Search.

I have one question though about support for adducts like 2M+H, 2M+Na, etc. (with a factor in front of M). Our collaborators use them in their work. Will it be possible to add such adducts to the adduct

[2019-10-04 12:53] #508 closed

[2019-10-04 12:59] #714 closed

[2019-10-04 13:44] robinschmid commented on #713
The whole workflow also adds more information to feature-based molecular networking on GNPS.

Ion identities are formed from these three inputs:
1. Define any kind of adducts by molecular formula/atom label or name+m/z difference.
2. Neutral modifications, in-source fragments, and clusters are defined in the same way and combined with each adduct.
3. Set the maximum number of molecules in a cluste

[2019-10-04 14:43] hsiowa2 commented on #713
Wow, thank you very much for all the help. Let me carefully look at what's all written here.

[2019-10-04 15:28] asmirn1 commented on #713
Thank you, Robin!

It's very helpful.

[2019-10-07 17:51] wittetom opened #715 "How to redirect the TEMP directory?"
### Basic information

* My operating system: Windows
* My MZmine version: 2.51

### What happened

I'm running MZMINE on windows on a computer with a storage drive (D:) that has much more free space than my C drive.  How do I direct MZMINE to use this storage drive as its temp directory?  I see from older posts that this used to be editable in the batch file for mzmine but this seems to have been

[2019-10-07 17:55] tomas-pluskal commented on #715
Have you tried setting  the Windows TEMP environment variable?
https://www.rapidee.com/en/environment-variables

[2019-10-07 19:12] Sukis123 opened #716 "How to process Waters QTOF data (MSe) for Sirius identification?"
### Basic information
* My operating system: Win 10 64 bit
* My MZmine version: MZmine 2.51

### What happened
Hi everyone,
I am trying to use MZmine 2 to detect features for Sirius identification. My data was acquired by Wasters QTOF MS in MSe mode but I am not very sure if MZmine works well for MSe data as well? Secondly, when I directly import my Waters .RAW data files, all scans were considere

[2019-10-10 06:55] karlfraser opened #717 "Export single csv file for multiple targeted peak detection lists"
### Basic information

* My operating system: Win 10
* My MZmine version: 2.33

### What happened

I am processing 30 files using a target list of ~560 mz/rt pairs.  It works really well. My problem is that when I want to export the final results of the 30 files peak lists as a single csv file, it will not write the results as a single file. I can select 'all peak lists' as an option but it still

[2019-10-10 07:09] Annexhc commented on #717
Hey Karl,
Do I understand you correctly, that you want all results of all lists in a single file? Than you should align your feature lists first and export only the aligned feature list.
The csv export cannot merge multiple feature lists to a single file. The function you are referring to enables the batch export of multiple feature lists to multiple csv files (check the tool tip of the filename p

[2019-10-10 07:32] karlfraser commented on #717
Hi Ansgar,

Yes, you understand that correctly.  Thanks for your answer, I'm glad I'm not missing anything obvious there then.  I have tried the join aligner but what I find is even though this is a list of a known 560 targets, the aligner gives me a list of ~2600 peaks for what should actually be a list the same length as my target list. Is there a way to force it to use the ID only? I have found

[2019-10-10 07:51] robinschmid commented on #717
Hey Karl.

What are your join aligner settings?
You might want to increase the m/z and rt tolerances.

Cheers
Robin

[2019-10-10 08:13] karlfraser commented on #717
Hi Robin,

I am using:
m/z tol = 0.001 or 5ppm (it is data from a Q-tof with excellent mass stability)
Weight for m/z = 85
Rt tol = 0.3 min (absolute) - (the chromatogram is 12 mins long with good stability, normally around 0.1 min variance across the 30 runs)
Weight for Rt = 60
Requires same ID

It is usually only a few peaks from each sample that dont align, but these differ across the batch and

[2019-10-10 08:21] robinschmid commented on #717
Actually, I have never done any targeted analysis within MZmine.
Do all of your 564 targets have an ID in the feature lists?
Then you could just set the tolerances to something really high and only depend on the ID to align.

Otherwise, what is your minimum m/z difference in your 564 targets? Maybe you can set the m/z tolerance higher, as your targets are far apart in a spectrum.

I tend to use a

[2019-10-10 19:04] karlfraser commented on #717
Yes they all have unique ID's in the mzmine feature lists - my target list is a targeted lipidomics list from supplementary info from a paper and I am trying to see how many I can detect with the Q-Tof.
I have tried many settings but cannot seem to force it to use only the ID. It seems that with the check box ticked to 'Require same ID', the other settings have an influence on merging the lists, w

[2019-10-10 20:22] robinschmid commented on #717
Makes sense. The targeted approach should work like this. @tomas-pluskal  can you comment on this?

@karlfraser for lipids, did you also check out the non-target modules that are included in MZmine?
@Annexhc developed some lipid identification and visualization modules as there are plenty of isomers and lipids with similar m/z and rt (depending on your chromatography).
These modules directly check

[2019-10-12 08:59] karlfraser commented on #717
I have downloaded the latest version and read a couple of the posts on here around the lipid modules. Exciting stuff. We have collected SWATH type MS2 data on the Q-Tof (Data independent analysis), so I wonder if the module can handle that type of MS2 data, or does it need 'true' MS2 (i.e. a known parent ion fragmented to give a product ion spectrum as a MS2 spectrum)?
I have processed this data u

[2019-10-12 10:47] Annexhc commented on #717
Hey Karl,
the lipid search module in MZmine is designed for DDA MS/MS data. I dont have tried SWATH data myself. Maybe we could extend the module for SWATH data in the future.

[2019-10-13 18:39] Annexhc commented on #711
can be closed

[2019-10-13 19:22] #711 closed

[2019-10-14 10:03] robinschmid commented on #717
I don't know enough about your dataset so this is only a general remark.
SWATH has a very high potential, however, I do not know if it shows utility for lipidomics data. You will always have different co-eluting lipids, with different precursor m/z. In SWATH you fragment all of them together and you might find some false head group to chain compositions.

[2019-10-15 12:58] Sukis123 commented on #394
@tomas-pluskal Hi Tomas, we are currently working with Waters MSe files. As you said, we can use the Crop filter to specify the MS1 scans, but out problem is how to associate the "true" MS2 scans to the MS1 features.

[2019-10-18 11:31] adelabriere opened #720 "MZmine batch mode for MS-MS extraction crash when there is no MS-MS"
Dear MZmine team,

I'm trying to extract MS-MS automatically from a large number of MS-MS runs. This number if too large to us MZmine for the alignement step in so I have an external way to do it, therefore I just do the peak picking and export hte peaktable.

I also want to extract the MS-MS spectra **if they exist** to do so I use the following batch steps :

1. Raw data import
2. Mass detection

[2019-10-18 15:17] robinschmid commented on #720
Hey Alexis,

how many (LC-MS) runs are too many?
Do you use data-dependent acquisition?
Every run should have MS/MS runs?

What are your GNPS export settings? (Do you run your data through GNPS afterwards?)

Yes this should definitely not be a severe issue.

Cheers
Robin

[2019-10-18 17:13] lfnothias commented on #720
Hi
If I understand correctly, @adelabriere you don't want to aligned your peaklists.
Therefor the Join Aligner step is not needed. Also, I am not sure if the GNPSExport is capable of exporting results for a (non aligned) peaklist ? @robinschmid ?

[2019-10-18 18:52] adelabriere commented on #720
I can align a single file actually without that the export don t work and it has no computational cost. So I do it. Thanks for the quick fix!

[2019-10-18 20:38] lfnothias commented on #720
Nice. Good to know ^^

[2019-10-19 13:42] robinschmid commented on #720
Have you tried to centroid (and maybe to threshold) your data during conversion? msconvert uses vendor algorithms. This reduces the file size drastically and might push the limits further.

Would be interesting to know. Moreover, speed of gap-filling was increased drastically by multi-threading a year ago.

I cannot reproduce your problems.
1. Mass detection
2. ADAP Chromatogram building
3. Deconv

[2019-10-21 06:17] Adafede opened #722 "#Algorithm proposal"
What about implementing SAFD in mzmine?
(https://pubs.acs.org/doi/10.1021/acs.analchem.9b02422)

Looks like an interesting tool with almost no parameters for the user!

[2019-10-22 08:59] Mattesimone opened #727 "Local Spectra database Search"
### Basic information

* My operating system: Windows 10 pro 64 bit VM in MacOS 10.14.6
* My MZmine version: 2.51

### What happened
Hello,

I'm trying to use the tool Feature list Method-- identification--Local Spectra database Search and it's seem to work not properly: I mean I have few identifications from my library less than expected.
Moreover I get multiple messages of errors that I am attac

[2019-10-22 13:56] robinschmid commented on #727
Hey Matteo,

where did you download/ how did you create this library?
Is this supposed to be in msp format?

1. Did you run mass detection on all MS2 scans? It seems like some scans do not have the mass list *"Gneg3"* which you specified in the library matching parameters. Make sure to run mass detection on all MS-level 2 scans.

2. It is crucial that you pair MS2 scans with their corresponding fe

[2019-10-22 13:56] robinschmid commented on #727
Are you applying this to low-res data? Otherwise, your tolerances are very high.

[2019-10-22 15:13] tomas-pluskal opened #728 "Feedback for spectral search"
Hi @robinschmid

I have some feedback for the spectral search module after discussing with people who use it:

- The precursor m/z tolerance should be an optional parameter (same as RT tolerance). If unchecked, the precursor mass should be ignored. This is useful for searching for similar fragments coming from different precursors.
- For the weights in the Similarity parameters, wouldn't it be use

[2019-10-22 15:24] tomas-pluskal opened #729 "Spectral export check button"
It is unclear what this button actually does. Perhaps some tooltip would be useful?

<img width="1487" alt="Screen Shot 2019-10-22 at 11 23 02" src="https://user-images.githubusercontent.com/1796692/67302154-7414e200-f4be-11e9-9f05-50ad2473acf6.png">

[2019-10-22 15:49] robinschmid opened #730 "Help files: All links are opened in the help dialog"
Hey all,

we should change the link outs in the help files. They open up in the help dialog and there is no return button.
1. We should redirect this to the default browser
2. if a video (youtube) is linked (see GNPS export help)- the audio and video keeps playing after the dialog is closed

![image](https://user-images.githubusercontent.com/10366914/67304538-45b1f980-f4f4-11e9-93e1-351f2df4b437.p

[2019-10-22 16:44] tomas-pluskal commented on #730
How about now, does it work for you?

[2019-10-23 08:31] Mattesimone commented on #727
Hey Robin,

Yes, I’m using low-res data.
Our library was created starting from .mgf files by using a python script that I'm attaching.
I run mass detection on all ms2 scans and I used feature deconvolution for pairing MS2 scans; so I tried the second way with wider m/z tolerance (m/z 1) : list methods/filters/Group MS2 scans with features but I obtained the same errors.

Best regards

Matteo Simon

[2019-10-23 09:01] robinschmid commented on #730
Solved by #731

[2019-10-23 09:01] #730 closed

[2019-10-23 09:12] robinschmid commented on #727
It might be best if you directly answer on GitHub.

Can you verify that you ran mass detection on all MS2 scans? Sometimes users apply filters to mass detection (apart from MS Level=2) and then some of the MS2 scans have no mass list with the given name.

Otherwise, please copy your whole console into a txt and attach it here.

Your example follows a strange format... What format did you convert i

[2019-10-23 12:28] robinschmid commented on #729
Solved by PR #732 (?)

Button is removed when only one entry is submitted.
Tooltips added to all buttons and text fields

[2019-10-23 18:02] #729 closed

[2019-10-24 07:13] robinschmid commented on #728
Have to do this later.
I am also linking this out to @Annexhc

[2019-10-24 11:46] adelabriere commented on #720
Thanks robin for the test it works for me too,

Actually it is my mistake the spectra are not exported using the MGF export function for a single file, but they are using the GNPS export function.

Thanks for the fix,

Alexis

[2019-10-24 12:28] robinschmid opened #733 "[Graphics Export] Theme changes series colors"
The dataset colors are changed if you click on apply theme (it has something to do with the color lists)

I will have to work on this.

![image](https://user-images.githubusercontent.com/10366914/67485506-761ba400-f66a-11e9-9798-1f74daf8c7dc.png)

[2019-10-25 09:25] tsufz opened #735 "Correct usage of terminology"
### Basic information
* My MZmine version: 2.51

### What happened

Somehow, the term feature was introducted in MZmine. In my opinion, this term is not used consequently correct.

As discussed in https://twitter.com/tsufz/status/1187625990253678592?s=20, a peak is a single peak in a sample defined by at least RT, m/z, area, height; a feature is a group of aligned peaks over single samples in my b

[2019-10-25 10:41] robinschmid commented on #735
To my understanding, a peak is a two-dimensional profile. We usually have two types: MS peaks in spectra and chromatographic peaks. For clarification, I use feature to describe a chromatographic peak with a specific m/z value. Single sample or aligned across multiple samples.

`peak list` can also (and it often does) refer to a signal list (centroids) which is extracted from a single spectrum or m

[2019-10-25 12:02] tomas-pluskal commented on #735
@tsufz Unfortunately the terminology is not standardized and different projects use it differently. For example, OpenMS uses 'feature' for a group of isotopes of a single peak.

See this paper (which makes things even worse):
http://bmcbioinformatics.biomedcentral.com/articles/10.1186/1471-2105-16-S7-S2

I agree with Robin, our definition is the best :)

[2019-10-25 12:06] tomas-pluskal commented on #735
<img width="1092" alt="Screen Shot 2019-10-25 at 08 04 14" src="https://user-images.githubusercontent.com/1796692/67569966-461de080-f6fe-11e9-94f2-51ef8f636dc7.png">
I made this slide a while ago to demonstrate the different terms that you can find in the literature

[2019-10-25 13:53] tomas-pluskal commented on #735
Let's close this issue and continue the discussion on twitter, to avoid redundancy.

[2019-10-25 13:53] #735 closed

[2019-10-25 15:46] MayraJaimes8 opened #736 "Unhandled-exceptionin-in-task-RANSAC-aligner_MzMine-2 #357"
Hi,
I´m using MzMine 2.51 for processing my untargeted metabolomic data. I did:
1. Baseline correction
2. Peak detection (mass detection, ADAP chromatogram builder, chromatogram deconvolution)
3. Detection of isotopes.

Currently I´m doing a RANSAC aligned but I have an error: unhandled exception in task RANSAC aligner, aligned feature list (145 feature list): java.lang.IllegalArgumentException: I

[2019-10-25 19:53] MayraJaimes8 commented on #736
Thank you for helping me. Please find the OneDrive link below:

https://correouisedu-my.sharepoint.com/:u:/g/personal/mayra2188242_correo_uis_edu_co/EeNEMGz-VJZOoCWW79wbRKMBK96AA2Q3CdXeeqxAMwq2kw?e=wfOin3

[2019-10-27 15:02] Sukis123 commented on #716
Can anybody helps??

[2019-10-27 20:58] robinschmid commented on #716
Hey.
So far there is no workflow for MSE data in MZmine. We still need to implement something.

Maybe waters provides an export function or converter to mzML?
Otherwise msconvert should cover this.

Cheers
Robin

[2019-10-27 21:17] Sukis123 commented on #716
Aha, understand, thank you very much. I have tried to use msconvert for this purpose, but unfortunately, I failed to do that since mzmine 2 does not correctly assign MS2 spectra to the found features. I am still waiting for answer from Waters’s technician about how to correctly converse their raw files to mzML files. But anyway, thank you very much for replying.

Best regards,
Qizhi Su

Sent from

[2019-10-28 00:24] tsufz commented on #716
Dear Qizhi,
Waters data is very tricky. MSconvert obviously does not export
calibrated data. Without knowledge on the lock / calibration mass, it is
impossible to re-calibrate data.

Other people reported also problems with interoperability between
MassLynx and Unify files. I suggest to contact your direct Waters sales
person by phone and ask him / her for a solution.

Best,
Tobias

[2019-10-28 00:28] tomas-pluskal commented on #716
@Sukis123 It would be helpful if you send one of your mzML files so we can see what exactly the problem is.

[2019-10-28 01:26] tomas-pluskal commented on #736
Hi, I downloaded your project file. Could you specify exactly what parameter values you use for the RANSAC aligner?

[2019-10-28 01:27] tomas-pluskal commented on #736
Also the parameter values that you used for Join aligner / Gap filling, where you saw the same error.

[2019-10-28 09:15] Sukis123 commented on #716
@tsufz Thank you very much. I am waiting for Waters technician's answer.

[2019-10-28 09:25] Sukis123 commented on #716
@tomas-pluskal Hi Tomas, thank you for your suggestion, but the file is too big to be uploaded directly here. I am trying to send it via Wetransfer.

[2019-10-28 09:55] Sukis123 commented on #716
@tomas-pluskal @tsufz @robinschmid Hi everybody, following the strategy suggested by evniMass (https://envibee.ch/eng/enviMass/topics/PW.php), I first deleted function 3 data which is the lockmass in the Waters's raw data file;
![delete lockmass](https://user-images.githubusercontent.com/55191839/67668900-1e827e80-f971-11e9-83f3-3ebc39c1ecbc.jpg)
then I used msconvert to transform it into *. mzXML

[2019-10-28 10:11] robinschmid commented on #716
What do you mean by there is something wrong?
This seem to visualize as expected. The TIC of the MS1 is usually higher than the TIC of the MSE scans - and they alternate.

The problem with assigning "MS2" to features is that you do not have real MS2 scans. There is no precursor mass selection.
I am still working on something to allow MSE (all ion fragmentation, SWATH ... ). You would need to corre

[2019-10-28 10:17] romchal commented on #716
I am also waiting for the MSE/AIF spectra deconvolution function in MZmine ;) You can try MS-DIAL (freely available) where are currently two algorithms (MS2Dec and CorrDec) to deconvolute MS2 spectra from MSE data.

[2019-10-28 12:09] Sukis123 commented on #716
@robinschmid Because when I zoom in, the peaks are like this
![zoom in chromatagrams (both MS1 and MS2)](https://user-images.githubusercontent.com/55191839/67674990-475d4080-f97e-11e9-983e-0ae9d1f9b3df.jpg)
but actually I am displaying MS1 and MS2 TIC chromatograms at the same time. It should be like this in Masslynx
![MS1 and MS2 chromatograms in Masslynx](https://user-images.githubusercontent.co

[2019-10-28 12:14] Sukis123 commented on #716
@romchal Yes, I have tried to use MS-DIAL, it works well. I am currently interested in using Sirius for identification but MS-DIAL does not provide options to export detected features for Sirius. MZmine 2 is recommended to pre-process data for Sirius, that is why I am trying to do it with my data.

[2019-10-28 13:15] MayraJaimes8 commented on #736
![Gap filling_Peak finder](https://user-images.githubusercontent.com/57008669/67681293-0a338700-f95b-11e9-9ca8-4dada94070da.PNG)
![RANSAC aligned](https://user-images.githubusercontent.com/57008669/67681294-0a338700-f95b-11e9-9e3f-1629a8a42966.PNG)

[2019-10-28 14:18] robinschmid commented on #716
Thats the way how MZmine displays your TIC.
You have to set a scan filter to MS level 1 or MS level 2. You can only plot one at a time.
To visualize them as two separate lines, you would need to extract one of the level into a separate raw file (this can also be done in MZmine).

![image](https://user-images.githubusercontent.com/10366914/67685535-89de4780-f995-11e9-889d-cc74ed43c349.png)

The nat

[2019-10-28 14:26] Sukis123 commented on #716
@robinschmid yeah, I understand now. many thanks for your help.

[2019-10-28 15:00] Mattesimone commented on #727
Hey Robin,

you were right. I realized I had applied a filter on retention time to mass detection. I did a test by keeping RT autorange and then the identification tool worked well. Thank you so much.
All the best
Matteo Simone

[2019-10-28 16:13] robinschmid commented on #727
Sounds good.
So the issue can be closed?

Cheers
RObin

[2019-10-28 16:28] tomas-pluskal commented on #716
@romchal Have you guys made any progress in the collaboration with @asmirn1 @du-lab for the LC-MS spectral deconvolution modules?

[2019-10-28 16:32] tomas-pluskal commented on #736
Thanks, I'll take a look at it. Please give me some time, we just had a baby so a bit overwhelmed.

[2019-10-28 16:34] MayraJaimes8 commented on #736
Thanks! Don't worry

[2019-10-28 17:08] robinschmid opened #737 "ADAP hierarchical clustering fails"
### Basic information
* My operating system: Windows 10
* My MZmine version: latest master branch

### What happened
**ADAP Hierarchical Clustering fails**
I found two easy ways to crash the hierarchical clustering (I have not tried the other one yet):
1. Missing rows.
    - The module runs on my feature list - after deleting a few rows it fails with the error below.
    - After renumbering the ro

[2019-10-28 18:09] asmirn1 commented on #737
Sure. I'll take a look at this.

[2019-10-28 18:23] robinschmid commented on #737
PR #738 fixes problem 2 for the missing PeakInformation in a row after the rows filter.

Issue 1 regarding the row indexes still remains.

Thanks Aleksandr

[2019-10-28 18:46] robinschmid commented on #716
@tomas-pluskal we might be able to work on this in November as it is very much related to the new ion identity networking modules and the needed data structure change.

[2019-10-28 18:47] tomas-pluskal commented on #716
Sounds like a great plan!

[2019-10-28 18:56] asmirn1 commented on #737
Thank you, Robin!

I'm a bit busy right now with something else, but I'll get to this problem ASAP.

[2019-10-29 08:39] robinschmid opened #740 "Javadoc and meaningful name for: row.getPeakInformation()"
It would be good to give ``row.getPeakInformation()`` a meaningful name and to add some Javadoc.

We could evaluate here and then change it. Can you join in @tomas-pluskal @du-lab @asmirn1 @Annexhc .

What is the purpose of ``peakInformation`` in a feature list row? We already have information associated with each `Feature` in the row. So this map is supposed to hold average values or values that

[2019-10-29 08:44] robinschmid opened #741 "PeakUtils.copyFeatureRow: Harmonize row copy in all modules"
Regarding our conversation #738

We should write a method to copy feature list rows and put it into a utils class. As PeakUtils already covers most of the methods we can either create:
-``PeakUtils.copyFeatureRow``
-``FeatureRowUtils.copyRow``

Then harmonize all modules to use this method.

[2019-10-29 11:07] QizhiSu opened #742 "How to remove features that exist in blanks as well after alignment?"
### Basic information
Hi everybody, I am thinking if it's possible to remove features that exist in blanks as well by setting a fold change parameter? For example, those features that have peak height/area 10 times than higher than that in the blank will be kept, and the rest will be removed.

Many thanks in advance.

* My operating system:
* My MZmine version:

### What happened

* Please describ

[2019-10-29 12:28] SteffenHeu commented on #742
Hi Sukis,
I am not aware of a module like that at the moment. However, I am currently working on a module that would be able to "substract" a peak list from another. The fold change seems like a good idea to do as well. But the implementation is by no means finished yet, but I can let you know here.

[2019-10-29 12:35] asmirn1 commented on #740
@robinschmid

I intended to use it as a general-purpose structure to store some information related to a row. Currently, it's used to store (1) an alignment score after performing alignment, and (2) p-value of ANOVA test after performing significance test.

If you think that this structure won't be useful, we can try to completely drop it. However, we'll need to add a new variable to a feature lis

[2019-10-29 15:29] Sukis123 commented on #742
@SteffenHeu Wow great! Many thanks.

[2019-10-29 17:37] Mattesimone commented on #727
Hey Robin,

I would like to ask you one more question: when mass lists are generated for all MS level 1 scans, a green check mark will appear next to the raw data file icon. Analyzing another my data set after mass detection MS level 1 and 2 (no filtering), not all files have a green check. What does it mean? The features have been created for all the samples including those that do not have the g

[2019-10-29 17:59] robinschmid commented on #742
Yeah, I just wanted to link out to @SteffenHeu but he was way faster than me ;)

This feature was already requested a couple of times (@lfnothias, @Annexhc ).
Maybe we can use this thread to come up with a good strategy:

### Blank removal
- use blank sample(s) to cut out **insignificant** features
- **insignificant**: Below fold-change (sample/blank < threshold)
- Easy: Use blank features
- Compr

[2019-10-29 18:17] robinschmid commented on #727
That's weird.
Have you tried to remove the scan filter completely?
Can you find scans in the raw file that have no check/mass list?
@tomas-pluskal any idea?

[2019-10-29 18:24] Annexhc commented on #742
Hey guys,
the most critical issues from my point of view are general characteristics regarding ESI, especially ion-suppression. This leads to different feature intensities when e.g. comparing a blank with a sample, because of different matrices. Anyway, the idea of using the fold change is a good start, but I am not sure if only one criteria can be used. I think we had a similar discussion before.

[2019-10-29 18:25] robinschmid commented on #740
I think it is smart to have something like a general-purpose data structure. Maybe for now we can rename it into ``getRowInformation`` to make clear that it focusses on the row. Later it would be nice to have some enum or control what can possibly be in this map.

Mid-November I am going to be in Boston and Tomas and I have already planned to do some changes to the data structure. This will also c

[2019-10-29 18:31] Annexhc commented on #727
Hey Matteo,
can you show us a screenshot of your mass detection settings? As Robin suggested, maybe there are still some scan filters enabled. I dont know your raw data, but if you want to consider every scan for mass detection you have to make sure that you also dont use the polarity and scan type filter (centroid, profile, thershold). Make sure they are set to "any".
best wishes,
Ansgar

[2019-10-29 21:01] SteffenHeu commented on #742
I was going to use the module for removing peaks that appear in an extract of a biological sample and in a spiked one to filter out the matrix peaks and only leave the ones behind, that appeared due to the spike. (at least in theory)

For that I was going to use an aligned feature list of several blank samples and give the user the option to either remove all rows that appear in every sample or ju

[2019-10-29 21:04] Sukis123 commented on #742
For me, I am more interested in the identification of features in samples. In practice, after alignment (including blanks), my features list contains lots of insignificant features (in blanks as well). Hence, I have to check those features one by one if they are the features that only come from my samples. In addition, those insignificant features would add uncertainty to the PCA or clustering ana

[2019-10-29 23:17] tomas-pluskal commented on #727
The green check mark probably won't appear if there are no MS1 scans in the file. If that is not the case, please provide more information (screenshots, project files, etc.).

[2019-10-30 10:22] Mattesimone commented on #727
Hello,

Sorry but you're still right. I was still using the positive polarity filter and the scan centroid type. Using 'any' for polarity and scan type filters I got the green check on all the files and the identification was successful. However, I was still wondering if the fact of using mass detection both on positive scans and on negative scans can confuse the software, obtaining a mixture of b

[2019-10-30 10:28] Mattesimone commented on #727
Hello,

the mass analysis method I used to run my samples only provides positive mass fragmentation and for this reason I decided to remove intermediate negative polarity.

Matteo

[2019-10-30 18:00] naydja opened #745 "GNPS and MZmine2"
Hello guys!

I started working with metabolomics recently and I've got some difficulties with the MZmine2 software... Hope you can help me!

I'm currently using Windows 10 operating system and MZmine version 2.40.

Here's what's happening: First, I did a molecular networking (on GNPS website) with the LC-MS/MS data I got from various extracts from actinobacteria fermentation media. I found some in

[2019-10-30 19:22] robinschmid commented on #745
Hey naydja, welcome :)

It is always a good idea to update to the latest version (2.51).

Your first approach was molecular networking on GNPS directly from the mzML files, right. And now you want to apply feature-based molecular networkng. (https://www.biorxiv.org/content/10.1101/812404v1)

I guess you have already checked out this video by Daniel: (It is in a playlist with more related MZmine/GN

[2019-10-30 19:30] naydja commented on #745
Hello, robinschmid! Thanks for your answer!

Well, in fact the problem is that I cannot find the features annotated by GNPS in the MZmine lists. For example: GNPS indicated a node with m/z of 266.10, identificated as anisomycin. Searching for this specific m/z on the list, I cannot find anything.

I have no idea of what's wrong...

[2019-10-30 19:32] robinschmid commented on #745
You can use MZmine to process the data and submit to GNPS FBMN and also export to do statistics in MetaboAnalyst.

The settings seem ok. However, you always need to change them in regards to your instrument, study design, and acquisition method.
Please tell me something about:
- Instrument
- Gradient length
- data points on the peak (MS1)
- data dependent acquisition? (Top n=?)
- did you convert t

[2019-10-30 19:39] robinschmid commented on #745
For statistics, consider using **Gap filling**, e.g., the Multithreaded Peak Finder. After Gap filling you might want to use the Peak Filter to filter out bad features.

Did you try to plot an EIC (or base peak plot) with this specific m/z?
Did you try to submit your MZmine aligned feature list to GNPS feature based molecular networking?

Feature detection can always fail. Both feature based and t

[2019-10-30 19:47] robinschmid commented on #727
Sometimes the scan type recognition fails and it switches between centroid and profile (although all scans are of the same type).
I think the polarity filter should be fine. Otherwise, you could try to filter out one polarity as it is usually more convenient.

[2019-10-30 19:48] naydja commented on #745
Ok, let's go:

Instrument: **Acquity UPLC H Class - Xevo G2-XS Qtof (Waters)**
Gradient length: **10 min**
data dependent acquisition? (Top n=?): **no**
did you convert the data to mzML?: **I converted to mzXML format**

Parameters
To set the noise level and minimum heights: Open some spectra zoom axis to see the noise and use arrow keys to check the noise across your sample: **I did it.**

Use **

[2019-10-30 19:52] robinschmid commented on #727
Rawdata methods/filtering/Crop filter
I think this one was the one to filter out specific scans

[2019-10-30 20:30] robinschmid commented on #745
How did you acquire the MS2 spectra?
For GNPS (or non-target in general) people usually use DDA.

The results are usually different yes. (FBMN and MN)

I always go for the absolute height only and set this parameter to 0%
If you have to peaks in the same chromatogram one is 1E5 the other one 1.1E7 - both are real and should be considered.

[2019-10-31 18:17] SteffenHeu commented on #742
Hey guys. I have now implemented a minimal working algorithm for the subtraction.
If works with an aligned feature list of blank measurements and the feature lists the blanks should be subtractred from. Currently I am taking the parameters m/z compared to average m/z of the blank, rt compared to avg rt and rt range compared to average rt range into account.
On top of that i would implement a fold

[2019-11-04 03:08] mahmoudabbassaleh opened #746 "exporting to JPG ot tif"
### Basic information

* My operating system:
* My MZmine version:
how to export 3d graph to JPG or TIF
### What happened

* Please describe what happened and how it differs from what you expected to happen.
* Please include all parameter values for the MZmine modules you used.
* Please upload screenshots of any errors and your log/mzmine.log file.
* Please upload an MZmine project file that demon

[2019-11-04 03:38] tomas-pluskal commented on #746
The 3D plot has no export function, but you can take a screenshot.

[2019-11-05 15:33] robinschmid commented on #742
Sorry for the late response. I do not really get all the points. Could you restructure?

### Chromatogram retention time boundaries
- The min/max/avg boundaries for retention time are only useful after deconvolution.
- Chromatogram rt is arbitrary

### Working version
- your choice to separate the blanks into another aligned feature list is good.
- rt range: how do you compare it? with a minimum o

[2019-11-05 19:25] tomas-pluskal commented on #742
@SteffenHeu Maybe I missed something in the previous conversation, but I don't really understand why your module takes tow separate groups of feature lists. Wouldn't it make more sense to run this module on a single aligned feature list AFTER the alignment step? The user can just select which samples (raw data files) are blank.

[2019-11-06 00:34] benbowen commented on #742
This is great news!

For what its worth, we use the following procedure for removing features that are most likely from the blanks:

Given an aligned and gapfilled peak list, for each feature find the maximum intensity in the files from blank injections, find the maximum intensity in all non-blank files, and keep the feature if the non-blank maximum intensity is a fixed cutoff greater than the bla

[2019-11-06 11:21] SteffenHeu commented on #742
@tomas-pluskal The first set of feature lists is used as a blank, it can either be an already aligned one or a selection of single feature lists that will be aligned in the process. The second set would be the actual samples. I thought this would be beneficial, because it might save a step.
Your approach is a good idea, though. But this would be a minor change, which i can implement later on.
A be

[2019-11-06 14:06] asmirn1 commented on #737
Hi @robinschmid

Regarding the first issue, how do you delete rows? I've tried to delete rows using Feature List table, but couldn't reproduce that error. Also, when you refer to ADAP Hierarchical Clustering, do you mean "Feature List methods -> Spectral Deconvolution -> Hierarchical Clustering"?

[2019-11-06 14:18] tomas-pluskal commented on #742
@SteffenHeu The reason why I don't like the current approach is because it violates good software design principles. One module should be doing one task, the task should be well defined, and the module should be doing it well. Currently your module must do some sort of alignment and background removal. I would prefer if the alignment is done by alignment modules, and your module only does backgrou

[2019-11-06 14:43] SteffenHeu commented on #742
@tomas-pluskal Ok, I get your point.

About the comments: In an aliged feature list the comment is for the whole row, not for one specific feature. So the comment could either be too long or too unspecific to give enough information what happened to which peak. I'll just figure something out.

[2019-11-06 18:14] sapnatars commented on #520
I am trying to import a batch of files in .mzXML format into mzmine 2. it shows the following javascript error:
java.lang.NumberFormatException: For input string""
(NumberFormatException.java:68)

[2019-11-06 18:15] sapnatars commented on #520
please suggest if you have any ideas for resolving this

[2019-11-06 18:17] tomas-pluskal commented on #520
Open a new issue for this and upload the file so we can take a look at it

[2019-11-06 18:18] sapnatars commented on #520
Thanks Tomas. Ill do that rightaway

[2019-11-06 18:29] sapnatars opened #747 "Error in importing mzXML files into MZmine"
### Basic information

* My operating system:Windows 7 64 bit operating
* My MZmine version: 2.51

### What happened
I selected a list of .mzXML files to import into mzmine via the raw data import tab and I have the following error
![MZmine error](https://user-images.githubusercontent.com/57454731/68326290-1cb76a00-0099-11ea-91bd-5388db642177.jpg)
![MZmine error](https://user-images.githubusercont

[2019-11-06 18:49] sapnatars commented on #747
Also, I am importing this list which contains files of both negative and positive mode of analysis

[2019-11-06 18:52] tomas-pluskal commented on #747
Please provide the mzXML file that gives you the error. You can share it using dropbox, google drive, etc.

[2019-11-06 19:00] sapnatars commented on #747
Thanks.
Here is the link:
https://drive.google.com/file/d/1nbZcTsotQEUFpOt3M_BtP2zgv1XBD1bt/view?usp=sharing

[2019-11-07 07:45] #720 closed

[2019-11-07 15:26] sapnatars commented on #747
These are only a couple files out of 110 sample data files, which are both in positive and negative mode.I look forward to your response. Thanks.

[2019-11-07 16:58] robinschmid commented on #742
I usually use the height for statistics. The area can be quite off.

### Going back to my initial answer:
Due to false deconvolution and alignment results, I think it would be the most precise method to remove sample features by searching the **blank chromatograms** or **blank mass lists** (of the corresponding scans in the _m/z_ and RT range of a sample feature.

[2019-11-08 08:28] robinschmid commented on #747
**Few questions**
- Which mass spectrometer?
- first mzML is newer than mzXML.
- please attach your conversion parameters in msconvert
- please also send a RAW file

[2019-11-08 15:57] mbell145 opened #748 "ADAP and NIST"
### Basic information

* My operating system: Windows 10
* My MZmine version: 2.51

### What happened

We are trying to build an annotation workflow for GCMS data. We can process the data in mzmine, but we would like to export an annotated peak list table. If we process the data without the Spectral Deconvolution and GC Aligner using MS Search will generate a peak list with the annotations but the

[2019-11-08 17:22] asmirn1 commented on #748
**Regarding the workflow using Spectral Deconvolution, GC Aligner, and NIST MS Search...**

You can try using [MSPepSearch](https://chemdata.nist.gov/dokuwiki/doku.php?id=peptidew:mspepsearch) instead of NIST MS Search. I believe, MSPepSearch uses the same matching algorithms and libraries as NIST MS Search and can export annotation results into a csv file.

So your workflow would be:

1. ...
2. s

[2019-11-08 18:01] sapnatars commented on #747
Hi Robin thanks for your response. below is the info:
1. Which mass spectrometer?: ACQUITY UPLC-Synapt (Waters Corp., Milford, MA).
2. first mzML is newer than mzXML.: could you please elaborate on this? I did not understand this point.
3. please attach your conversion parameters in msconvert: my collaborator did the conversion, and they mention that they did not input any specific parameters.
4.

[2019-11-08 19:48] robinschmid commented on #436
Duplicate to #691
Should be closed

[2019-11-08 19:54] robinschmid commented on #691
I am working on this.
The first achievement is a dialog to pick the retention times for the alkane standards.
See PR #749

### To-Do
- calculate Kovats Index from list of alkane standard retention times
- add Kovats Index to data model
- add Kovats filter to local spectra library matching (GC-MS)

[2019-11-08 20:23] #436 closed

[2019-11-11 10:43] MiaYYQ opened #750 "CAMERA cannot working"
* My operating system: Windows 10
* My MZmine version: MZmine 2.5.1

Hi,

[2019-11-11 11:09] MiaYYQ opened #751 "CAMERA cannot working"
* My operating system: Windows 10
* My MZmine version: MZmine 2.5.1

Hi,

I want to report an issue about running CAMERA after deconvoluting chromatograms. It seems to be stuck at " Checked Package Version: 'CAMERA' for version '1.12' " (as show in the figure below).
![批注 2019-11-11 190806](https://user-images.githubusercontent.com/42602227/68582868-b8d8db00-04b6-11ea-83fe-47832c625a8d.png)

I hav

[2019-11-11 11:10] #750 closed

[2019-11-11 21:55] du-lab opened #752 "cannot open MZmine 2.51 on Mac OS 10.15 (Catalina)"
![image001](https://user-images.githubusercontent.com/13665067/68624101-16aff780-04a4-11ea-9989-1c43bb54be74.png)

[2019-11-11 22:21] tomas-pluskal commented on #752
See https://www.imore.com/how-open-apps-anywhere-macos-catalina-and-mojave

[2019-11-13 14:09] mbell145 commented on #748
So we tried that, but:

1)      Couldn’t get the most recent version of MSPepSearch to work (would open and immediately close the program… tried both 32 and 64 bit versions)

2)      Got the older 2013 version to work, looked promising but when I submitted, no output file was generated. Maybe I’m wrong but it seems like MSPepSearch is only for MS/MS data, not full scan EI MS data. Either way I tri

[2019-11-13 14:27] asmirn1 commented on #748
Here is an example of the console code to run MSPepSearch with Mainlib and Replib libraries with Quick Identity Search Type.
[code]
You can replace the last option /OUT to /OUTTAB to get the annotation results in the tab-separated format. Run MSPepSearch.exe without arguments to see all available options.

I haven't had any problems with running both versions of MSPepSearch in console. I don't hav

[2019-11-13 14:45] mbell145 commented on #748
So I have tried

[code]

but I get the error above. I can import this msp file into NIST MS Search so I do not think it is corrupt. Any suggestions?

[2019-11-13 14:59] asmirn1 commented on #748
It looks like MSPepSearch cannot find file HarleySpectra.msp. Try using the absolute path to this file.

[2019-11-13 15:15] mbell145 commented on #748
That worked! But where does the annotation.txt file output too?

I ran this:

[code]
But I have searched my C drive and I can't find the file. Was it generated?

[2019-11-13 15:21] asmirn1 commented on #748
Great! Probably, annotation.txt was saved in the local directory where you are running this command from. You can also specify the absolute path for file annotations.txt (e.g. `C:\annotation.txt`), so it'll be easier to find it.

[2019-11-13 15:43] mbell145 commented on #748
Awesome! Thank you very much for your help.

As an additional question, when you called in the second library above

`/REPL C:\NISTDEMO\MSSEARCH\replib`

Can you add different libraries (i.e Golm), and what format do the libraries have to be in to work with MSPepSearch?

[2019-11-13 15:50] asmirn1 commented on #748
A library has to be readable by NIST MS Search. Actually, MS Search has a tool to convert an MSP file (and some other formats) into the library used by MS Search. It's called `lib2nist.exe` and it's located in the MS Search folder.

[2019-11-13 16:01] asmirn1 commented on #748
@du-lab @tomas-pluskal Shall we add a section about MSPepSearch into ADAP User Manual, or it is out of scope of MZmine?

[2019-11-13 17:55] mbell145 commented on #748
Hi,

I ran into another problem if you have a moment. I was trying to run the newer version of MS PepSEARCH on another computer with the full mainlib and replib (came with software from GCMS vendor), and I had an error message again.

`C:\2019_02_22_MSPepSearch_x64\MSPepSearch64.exe Q /MinInt 50 /MinMF 800 /HITS 5 /MAIN "C:\Users\Thermo\Program Files (x86)\NIST\MSSEARCH\mainlib" /REPL "C:\Users\Th

[2019-11-13 18:55] asmirn1 commented on #748
No, I haven't seen this error before. Could you check if these libraries work with MS Search?

[2019-11-13 19:04] mbell145 commented on #748
They do work within the thermo file. I also copied both libraries out to another computer and into the NISTDEMO, and they worked fine there as long as I used the 2019 version of the MSPepSearch. The 2013 version threw access denied errors on the copied libraries. We would prefer to use it on the same computer as the instrument however, which is the one that was throwing the Initiation error.

[2019-11-13 19:08] asmirn1 commented on #748
It's possible that the latest libraries won't work with the old version of MSPepSearch. Can you use the 2019 version of MSPepSearch on the instrument computer?

[2019-11-13 19:11] mbell145 commented on #748
I was using the latest version of the MSPepSearch when I ran into the Initiation error

[2019-11-13 19:19] Fedemine19 opened #753 "About peak height"
### Basic information

* My operating system: Windows 7
* My MZmine version: 2.51

### What happened
Hello people, maybe it's a basic question but I'm lost here. I performed the data mining steps according to tutorial and got my final table. In each row I see value of Height and Area next to a color light (green, yellow, red). The issue at hand is: What does this height value stand for? I need to

[2019-11-13 19:21] tomas-pluskal commented on #753
Peak height = peak intensity, it is the same thing.

If you have concerns about particular values that you see, please upload your project file so we can take a look at it.

[2019-11-13 19:35] Fedemine19 commented on #753
![Height1](https://user-images.githubusercontent.com/57727470/68797379-42151c80-0633-11ea-9d41-26ec4245881f.png)
![Height2](https://user-images.githubusercontent.com/57727470/68797380-42adb300-0633-11ea-81dd-6d8d3b832788.png)
Thank you for your kind answer, I couldnt upload my project, so I took screenshots for you in picture 1 you will see the color lights and the Height titles im talking about,

[2019-11-13 19:40] tomas-pluskal commented on #747
Your mzXML files are somewhat non-standard, because the msLevel attribute in the scans is empty. I added a workaround for that, so in the next version of MZmine you will be able to import your files.

[2019-11-13 19:41] tomas-pluskal commented on #747
As to point 2., I think @robinschmid meant that mzML is a newer standard than mzXML (which is obsolete at this point). You should use the mzML format instead (supported by both MSConvert and MZmine).

[2019-11-13 19:44] sapnatars commented on #747
So what steps should I take now? Can you please suggest?
1. When you mention" I added a workaround for that, so in the next version of MZmine you will be able to import your files.": which version should I use then.
2. When you mention: Your mzXML files are somewhat non-standard, because the msLevel attribute in the scans is empty.: do you suggest I convert the raw files again to MzML? Any suggest

[2019-11-13 19:52] tomas-pluskal commented on #753
The values should indeed be the same. But I cannot help if you if I cannot take a look at the project data. So again, please upload your project file first. You can use Google Drive, Dropbox, etc.

[2019-11-13 19:55] tomas-pluskal commented on #747
1. You can use the next version (2.52) after it is released. Hopefully soon.
2. I do think using mzML is a better choice for you, so try re-converting the file. I have no particular recommendation for the conversion parameters, read the MSConvert documentation for that purpose.

[2019-11-13 19:56] sapnatars commented on #747
Thanks Tomas.I will give that a try and get back to you, if I come across any errors. Many thanks.

[2019-11-13 19:59] asmirn1 commented on #748
Maybe, the path to the files isn't correct. This path `C:\Users\Thermo\Program Files (x86)\NIST\MSSEARCH\mainlib` looks a bit strange because of `Program Files (x86)` in the middle, but I might be wrong.

If the path to both libraries is correct, then I don't know what might be the reason for the initialization error.

[2019-11-13 20:35] Fedemine19 commented on #753
I could upload the mzmine project to my onedrive. this is the shared link. Hope it works, if you need all the spectra to open it then It'll take more time uploading all the spectra.

https://1drv.ms/u/s!AiE3mhbJdBsDknl1D4w1-l5hO3e9?e=EuhMA9

[2019-11-13 20:37] tomas-pluskal commented on #753
Awesome. And what is the ID of the peak that you mentioned above?

[2019-11-13 20:47] tomas-pluskal commented on #753
I assume it's peak ID 65.

The peak height is correctly reported as 1.5E6 in the F1 sample, all the way up to your gap-filled peak list. The value changed after normalization, because it was normalized. After normalization, the values of peak height and peak area don't correspond to the raw data values anymore.

<img width="529" alt="Screen Shot 2019-11-13 at 15 42 44" src="https://user-images.git

[2019-11-13 20:51] Fedemine19 commented on #753
Thank you so much for everything! So I will filter first and then normalize the values.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Tomáš Pluskal <notifications@github.com>
Sent: Wednesday, November 13, 2019 5:47:36 PM
To: mzmine/mzmine2 <mzmine2@noreply.github.com>
Cc: Fedemine19 <federicobrigante@outlook.com>; Author <author@noreply.github.com>
Subject: Re:

[2019-11-13 20:51] #753 closed

[2019-11-13 20:53] tomas-pluskal commented on #752
When jpackage (https://jdk.java.net/jpackage/) is finished (hopefully in Java 14 or 15), we can deploy native packages for each platform and that should finally resolve this issue.

[2019-11-13 20:53] #752 closed

[2019-11-13 21:47] tomas-pluskal commented on #748
@asmirn1 I think mentioning MSPepSearch in the ADAP manual is definitely a good idea!

It would be even better to connect the ADAP deconvolution modules with the Local spectral database search module developed by @robinschmid so the users can search spectral databases (including NIST?) directly from MZmine.

[2019-11-13 21:47] #746 closed

[2019-11-13 21:48] #747 closed

[2019-11-13 23:05] asmirn1 commented on #748
@tomas-pluskal @robinschmid I was planning to look into Local spectral database search module for quite a while, but I've been busy with other projects. As I understand, we would have to separate the spectrum building part of Local spectral database search into a separate module. This way, we could use all other algorithms for spectrum construction. I'm still planning to look into it, maybe someti

[2019-11-14 09:10] robinschmid commented on #728
- include ADAP data structure for search (correlated MS1 spectra)

[2019-11-14 09:11] robinschmid commented on #748
Within the next three weeks, we are going to introduce some structural changes to cover the relationship of signals, i.e., different ions of the same molecule. The ADAP correlation results (clustered spectra) could then fit into this structure.

And we should definitely include the ADAP results into the spectral library matching.
See #728 for a collection of thoughts on the spectral library matchi

[2019-11-14 15:09] asmirn1 commented on #728
Just a thought: MZmine currently have about 6 database search modules

- Local spectra database search
- Precursor search in local spectral DB
- Custom database search
- Online database search
- Lipid search
- NIST MS Search

It seems that at least four of them (Local spectra database search, Precursor search in local spectral DB, Custom database search, and Lipid search) have overlapping function

[2019-11-14 16:29] tomas-pluskal commented on #728
@asmirn1 Good point! Restructuring the MZmine menu is definitely on my task list!